Repository rickballard/CoCivium, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-only, ci, diagrams

.github/labeler.yml:

docs-only:
  - "docs/**"
  - "**/*.md"
  - "advice/**"
ci:
  - ".github/workflows/**"
diagrams:
  - "docs/diagrams/**"

docs: legacy README miner + sucked-dry prunifier (#464)
  docs/insights/archive/Legacy_Readmes_Salvage_Report.md
  docs/insights/archive/deprecated/README.next.md
  docs/insights/ethos/Trust-Contract.md
  docs/insights/storybank/CoStories.md
  docs/intent/advice/notes/20251102/CoSync_20251102-235549Z.md
Labels: docs-only

cosync: front door consolidation (20251103-024940Z)
  docs/intent/advice/notes/20251103/CoSync_20251103-024940Z.md
Labels: docs-only

docs: front-door README suite (AI onramp, stacked stories, first-hour path, updated diagrams)
  README.md
  docs/diagrams/co-loop.svg
  docs/diagrams/engagement-ladder.svg
  docs/diagrams/one-week-microproject.svg
  docs/insights/the-longer-story.md
  docs/intent/advice/notes/20251102/CoSync_20251102-202312Z.md
  docs/quickstart.md
Labels: docs-only, diagrams

docs(readme): tiny nits from canvas (bold escapes, typos, safe-to-try/big bets)
  README.md
Labels: docs-only

cosync: README polish + linkage verify (20251102-212024Z)
  docs/intent/advice/notes/20251102/CoSync_20251102-212024Z.md
Labels: docs-only

docs: front-door README suite (#456)
  README.md
  docs/diagrams/co-loop.svg
  docs/diagrams/engagement-ladder.svg
  docs/diagrams/one-week-microproject.svg
  docs/insights/the-longer-story.md
  docs/intent/advice/notes/20251102/CoSync_20251102-202312Z.md
  docs/intent/advice/notes/20251102/CoSync_20251102-212024Z.md
  docs/quickstart.md
Labels: docs-only, diagrams

docs(readme): keep Eli story, remove Mira para; tiny tidy; re-link world-issues couplet
  README.md
Labels: docs-only

cosync: front door vignette trim + couplet links (20251103-033152Z)
  docs/intent/advice/notes/20251103/CoSync_20251103-033152Z.md
Labels: docs-only

cosync: world-issues legacy restore (20251103-033540Z)
  docs/intent/advice/notes/20251103/CoSync_20251103-033540Z.md
Labels: docs-only

docs(world-issues): add THEORY/PRACTICE + legacy scratch; restore hero images; rebuild diagrams inventory; relink from front door
  README.md
  docs/diagrams/INVENTORY.md
  docs/diagrams/inventory.json
  docs/insights/world-issues/LEGACY_READMES_SAMPLES.md
  docs/insights/world-issues/THEORY.md
Labels: docs-only, diagrams

docs: world-issues legacy restore (acrostic + hero images) + relink (#466)
  README.md
  docs/diagrams/INVENTORY.md
  docs/diagrams/inventory.json
  docs/insights/world-issues/LEGACY_READMES_SAMPLES.md
  docs/insights/world-issues/THEORY.md
  docs/intent/advice/notes/20251103/CoSync_20251103-033540Z.md
Labels: docs-only, diagrams

docs(readme): ensure world-issues couplet link-outs under 'Where next?'
  README.md
Labels: docs-only

cosync: front door trim + couplet merge (20251103-040353Z)
  docs/intent/advice/notes/20251103/CoSync_20251103-040353Z.md
Labels: docs-only

docs(readme): remove secondary 'Mira' paragraph from vignette (robust match)
  README.md
Labels: docs-only

docs(readme): retitle vignette; remove Mira; fix typos/escapes; normalize first-hour list
  README.md
Labels: docs-only

cosync: front door vignette retitle + tidy (20251103-041025Z)
  docs/intent/advice/notes/20251103/CoSync_20251103-041025Z.md
Labels: docs-only

docs: front-door vignette retitle + tidy (#467)
  README.md
  docs/intent/advice/notes/20251103/CoSync_20251103-041025Z.md
Labels: docs-only

cosync: front door finalized & legacy couplet seeded (20251103-041651Z)
  docs/intent/advice/notes/20251103/CoSync_20251103-041651Z.md
Labels: docs-only

docs(readme): add one-line 'Why it matters' bridge after vignette
  README.md
Labels: docs-only

cosync: README layout polish (20251103-042147Z)
  docs/intent/advice/notes/20251103/CoSync_20251103-042147Z.md
Labels: docs-only

docs(readme): professional layout — H2 sections + rules, tidy vignette/bridge, clean list, standardized 'Where next?'
  README.md
Labels: docs-only

cosync: README layout polish (20251103-042437Z)
  docs/intent/advice/notes/20251103/CoSync_20251103-042437Z.md
Labels: docs-only

docs(readme): render vignette title as H3 inside blockquote (robust match, trims trailing slash)
  README.md
Labels: docs-only

docs(readme): polish layout — H3 vignette title, remove Mira, add bridge, clean first-hour list, restore full 'Where next?'
  README.md
Labels: docs-only

docs(readme): no em dashes; H3 vignette title; remove Mira; add bridge; clean first-hour; restore full 'Where next?'
  README.md
Labels: docs-only

cosync: front door polish (20251103-043558Z)
  docs/intent/advice/notes/20251103/CoSync_20251103-043558Z.md
Labels: docs-only

docs(readme): compress vignette into short paras; add hero strip; 3-bullet why-burst; keep no-em-dash rule
  README.md
Labels: docs-only

cosync: front door punch-up (20251103-043735Z)
  docs/intent/advice/notes/20251103/CoSync_20251103-043735Z.md
Labels: docs-only

docs(readme): short-paragraph vignette; remove Mira; 3-bullet why; optional hero strip; no em dashes; restore full 'Where next?'
  README.md
Labels: docs-only

cosync: front door punch-up (20251103-045343Z)
  docs/intent/advice/notes/20251103/CoSync_20251103-045343Z.md
Labels: docs-only

docs(readme): add bottom pointer to evolving Highlights guide; enforce no em dashes
  README.md
Labels: docs-only

docs(links): add HIGHLIGHTS guide with scoped placeholders and working pointers
  docs/links/HIGHLIGHTS.md
Labels: docs-only

cosync: README pointer + Highlights guide (20251103-045637Z)
  docs/intent/advice/notes/20251103/CoSync_20251103-045637Z.md
Labels: docs-only

docs(links): mark THEORY and PRACTICE as seeded
  docs/links/HIGHLIGHTS.md
Labels: docs-only

cosync: README-mined docs seeded (20251103-050229Z)
  docs/intent/advice/notes/20251103/CoSync_20251103-050229Z.md
Labels: docs-only

ci: add gib rails (guard+satellite+violet)
  .github/workflows/gib-satellite.yml
  .github/workflows/guard-gib-org.yml
  .github/workflows/violet-receipts-summary.yml
  docs/BPOE/quicklist.md
  docs/insights/world-issues/PRACTICE.md
  docs/insights/world-issues/THEORY.md
  docs/ops/README.md
Labels: docs-only, ci

ci: add gib rails (guard+satellite+violet) (#468)
  .github/workflows/gib-satellite.yml
  .github/workflows/guard-gib-org.yml
  .github/workflows/violet-receipts-summary.yml
  docs/BPOE/quicklist.md
  docs/insights/world-issues/PRACTICE.md
  docs/insights/world-issues/THEORY.md
  docs/ops/README.md
Labels: docs-only, ci

docs(nav): make links clickable, add reciprocal nav footers, fix bpoe path; no em dashes
  README.md
  docs/insights/world-issues/PRACTICE.md
  docs/insights/world-issues/THEORY.md
  docs/links/HIGHLIGHTS.md
  docs/ops/README.md
Labels: docs-only

ci: add gib rails (guard+satellite+violet+hub)
  .github/workflows/gib-satellite.yml
  .github/workflows/guard-gib-org.yml
  .github/workflows/violet-receipts-summary.yml
Labels: ci

ci: add gib rails (guard+satellite+violet+hub) (#469)
  .github/workflows/gib-satellite.yml
  .github/workflows/guard-gib-org.yml
  .github/workflows/violet-receipts-summary.yml
Labels: ci
