Repository rickballard/CoCivium, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-only, ci, diagrams

.github/labeler.yml:

docs-only:
  - "docs/**"
  - "**/*.md"
  - "advice/**"
ci:
  - ".github/workflows/**"
diagrams:
  - "docs/diagrams/**"

ci(preview): add JSON puppeteer config for mmdc
  .github/puppeteer.json
Labels: none

ci(preview): use JSON puppeteer config; call npx vl2vg/vg2svg; keep local installs
  .github/workflows/diagram-previews.yml
Labels: ci

vitals(chart): PowerShell boolean fix (nice=$false); keep quantitative x-axis
  docs/diagrams/render/academy/vital-signs.vl.json
  tools/vitals/Update-VitalsChart.ps1
Labels: docs-only, diagrams

build(preview): refresh diagram previews
  docs/diagrams/_previews/_errors/render/academy/vital-signs-chart.log
  docs/diagrams/_previews/_errors/render/academy/vital-signs-map.log
  docs/diagrams/_previews/_errors/render/advice/advicebomb-lifecycle-map.log
  docs/diagrams/_previews/_errors/render/architecture/coagent-4-panel-map.log
  docs/diagrams/_previews/_errors/render/architecture/cosuite-high-level-map.log
  docs/diagrams/_previews/_errors/render/asset-graph-map.log
  docs/diagrams/_previews/_errors/render/audit/coaudit-flow-map.log
  docs/diagrams/_previews/_errors/render/cosuite.asset-graph-map.log
  docs/diagrams/_previews/_errors/render/data/data-flows-map.log
  docs/diagrams/_previews/_errors/render/governance/governance-container-map.log
  docs/diagrams/_previews/_errors/render/identity/meritrank-reptag-map.log
  docs/diagrams/_previews/_errors/render/inseed-timeline-map.log
  docs/diagrams/_previews/_errors/render/legend-map.log
  docs/diagrams/_previews/_errors/render/metrics/metrics-index-map.log
  docs/diagrams/_previews/_errors/render/pipelines/ci-diagrams-export-map.log
  docs/diagrams/_previews/_errors/render/politic/copolitic-spectrum-map.log
  docs/diagrams/_previews/_errors/render/repos/repo-map-map.log
  docs/diagrams/_previews/_errors/render/security/threat-model-map.log
  docs/diagrams/_previews/_errors/render/timeline/roadmap-milestones-map.log
  docs/diagrams/_previews/_errors/vitals/humanity-vitals-map.log
  docs/diagrams/_previews/render/academy/vital-signs-chart.svg
  docs/diagrams/_previews/render/academy/vital-signs-map.svg
  docs/diagrams/_previews/render/inseed-timeline-map.svg
  docs/diagrams/_previews/render/legend-map.svg
Labels: docs-only, diagrams

docs(intent): CoSync — diagram-previews fixed (JSON puppeteer + npx bins + PS boolean)
  docs/intent/advice/notes/20251031/CoSync_20251031-052728Z.md
Labels: docs-only

diagrams(mermaid): apply safe first-aid (init directive, //→%%, strip YAML front-matter)
  docs/diagrams/render/academy/vital-signs.mmd
  docs/diagrams/render/advice/advicebomb-lifecycle.mmd
  docs/diagrams/render/architecture/coagent-4-panel.mmd
  docs/diagrams/render/architecture/cosuite-high-level.mmd
  docs/diagrams/render/audit/coaudit-flow.mmd
  docs/diagrams/render/data/data-flows.mmd
  docs/diagrams/render/governance/governance-container.mmd
  docs/diagrams/render/identity/meritrank-reptag.mmd
  docs/diagrams/render/metrics/metrics-index.mmd
  docs/diagrams/render/pipelines/ci-diagrams-export.mmd
  docs/diagrams/render/politic/copolitic-spectrum.mmd
  docs/diagrams/render/repos/repo-map.mmd
  docs/diagrams/render/security/threat-model.mmd
  docs/diagrams/render/timeline/roadmap-milestones.mmd
Labels: docs-only, diagrams

build(preview): refresh diagram previews
  docs/diagrams/_previews/_errors/render/academy/vital-signs-map.log
  docs/diagrams/_previews/_errors/render/advice/advicebomb-lifecycle-map.log
  docs/diagrams/_previews/_errors/render/architecture/coagent-4-panel-map.log
  docs/diagrams/_previews/_errors/render/architecture/cosuite-high-level-map.log
  docs/diagrams/_previews/_errors/render/audit/coaudit-flow-map.log
  docs/diagrams/_previews/_errors/render/data/data-flows-map.log
  docs/diagrams/_previews/_errors/render/governance/governance-container-map.log
  docs/diagrams/_previews/_errors/render/identity/meritrank-reptag-map.log
  docs/diagrams/_previews/_errors/render/metrics/metrics-index-map.log
  docs/diagrams/_previews/_errors/render/pipelines/ci-diagrams-export-map.log
  docs/diagrams/_previews/_errors/render/politic/copolitic-spectrum-map.log
  docs/diagrams/_previews/_errors/render/repos/repo-map-map.log
  docs/diagrams/_previews/_errors/render/security/threat-model-map.log
  docs/diagrams/_previews/_errors/render/timeline/roadmap-milestones-map.log
  docs/diagrams/_previews/render/academy/vital-signs-map.svg
Labels: docs-only, diagrams

diagrams: seed academy/vital-signs + vitals/humanity-vitals with valid Mermaid
  docs/diagrams/render/academy/vital-signs.mmd
  docs/diagrams/vitals/humanity-vitals.mmd
Labels: docs-only, diagrams

build(preview): refresh diagram previews
  docs/diagrams/_previews/_errors/render/academy/vital-signs-map.log
  docs/diagrams/_previews/_errors/vitals/humanity-vitals-map.log
Labels: docs-only, diagrams

diagrams: seed valid placeholders so CI previews render across gallery
  docs/diagrams/render/asset-graph.mmd
Labels: docs-only, diagrams

Diagrams: seed valid Mermaid for vital signs (#452)
  docs/diagrams/_previews/_errors/render/academy/vital-signs-map.log
  docs/diagrams/_previews/_errors/vitals/humanity-vitals-map.log
  docs/diagrams/render/academy/vital-signs.mmd
  docs/diagrams/render/asset-graph.mmd
  docs/diagrams/vitals/humanity-vitals.mmd
Labels: docs-only, diagrams

chore: ignore .mmd.bak backups
  .gitignore
Labels: none

build(preview): refresh diagram previews
  docs/diagrams/_previews/_errors/render/asset-graph-map.log
  docs/diagrams/_previews/render/asset-graph-map.svg
Labels: docs-only, diagrams

docs(diagrams): add README wrappers so GitHub renders Mermaid/VL in academy/
  docs/diagrams/render/academy/README.md
  docs/diagrams/render/academy/vital-signs.vl.md
Labels: docs-only, diagrams

feat: seed 'AI Dream' insight (theory/practice) + README links
  README.md
  docs/insights/ai-dream/PRACTICE.md
  docs/insights/ai-dream/THEORY.md
Labels: docs-only

feat: seed 'AI Dream' insight (theory/practice) + README links (#454)
  README.md
  docs/insights/ai-dream/PRACTICE.md
  docs/insights/ai-dream/THEORY.md
Labels: docs-only

docs: AI Dream backlinks + insights index
  docs/insights/README.md
Labels: docs-only

docs: AI Dream backlinks + insights index (#455)
  docs/insights/README.md
Labels: docs-only

docs: front-door README suite (AI onramp, stacked stories, first-hour path, updated diagrams)
  README.md
  docs/diagrams/co-loop.svg
  docs/diagrams/engagement-ladder.svg
  docs/diagrams/one-week-microproject.svg
  docs/insights/the-longer-story.md
  docs/intent/advice/notes/20251102/CoSync_20251102-202312Z.md
  docs/quickstart.md
Labels: docs-only, diagrams

docs: README history sampler + snapshots (non-destructive)
  docs/insights/archive/README_Archive_Sampler.md
Labels: docs-only

docs: add AI Dream banner with insights link
  README.md
Labels: docs-only

docs: seed AI Dream playlets (consent, receipts, loop caps)
  docs/insights/ai-dream/playlets/001_consent-kit-checklist.md
  docs/insights/ai-dream/playlets/002-micro-receipts-patterns.md
  docs/insights/ai-dream/playlets/003-coevo-loop-caps.md
Labels: docs-only

docs: seed AI Dream playlets (consent, receipts, loop caps) (#458)
  docs/insights/ai-dream/playlets/001_consent-kit-checklist.md
  docs/insights/ai-dream/playlets/002-micro-receipts-patterns.md
  docs/insights/ai-dream/playlets/003-coevo-loop-caps.md
Labels: docs-only

docs: PR template — Consent-Kit quick checks
  .github/pull_request_template.md
Labels: docs-only

docs: PR template — Consent-Kit quick checks (#459)
  .github/pull_request_template.md
Labels: docs-only

docs: add AI Dream banner with insights link
  README.md
Labels: docs-only

docs: add AI Dream banner with insights link (#460)
  README.md
Labels: docs-only

docs: add AI Dream banner with insights link
  README.md
Labels: docs-only

docs(readme): tiny nits from canvas (bold escapes, typos, safe-to-try/big bets)
  README.md
Labels: docs-only

cosync: README polish + linkage verify (20251102-212024Z)
  docs/intent/advice/notes/20251102/CoSync_20251102-212024Z.md
Labels: docs-only

docs: mined ethos ‘Greatest Hits’ across repo (ranked candidates)
  docs/insights/archive/README_Greatest_Hits.md
Labels: docs-only

ci: guard for Consent-Kit block in PR template
  .github/workflows/guard-consent-kit.yml
Labels: ci

ci: guard for Consent-Kit block in PR template (#463)
  .github/workflows/guard-consent-kit.yml
Labels: ci

docs(archive-miner): salvage report, drafts (Trust-Contract, CoStories); mark sucked-dry & move; optional README fold
  docs/insights/archive/Legacy_Readmes_Salvage_Report.md
  docs/insights/archive/deprecated/README.next.md
  docs/insights/ethos/Trust-Contract.md
  docs/insights/storybank/CoStories.md
Labels: docs-only

cosync: legacy README miner handoff (20251102-235549Z)
  docs/intent/advice/notes/20251102/CoSync_20251102-235549Z.md
Labels: docs-only

docs(world-issues): THEORY & PRACTICE couplet; diagrams inventory (md+json); small README link-out
  docs/diagrams/INVENTORY.md
  docs/diagrams/inventory.json
  docs/insights/world-issues/PRACTICE.md
  docs/insights/world-issues/THEORY.md
Labels: docs-only, diagrams

cosync: world-issues couplet + diagrams inventory (20251103-000022Z)
  docs/intent/advice/notes/20251103/CoSync_20251103-000022Z.md
Labels: docs-only

docs(readme): add world-issues link-out; unescape bold; fix tiny typos
  README.md
Labels: docs-only

cosync: Front-door README + world-issues couplet alignment (20251103-014648Z)
  docs/intent/advice/notes/20251103/CoSync_20251103-014648Z.md
Labels: docs-only

docs: world-issues insights (THEORY & PRACTICE) + diagrams inventory (#465)
  README.md
  docs/diagrams/INVENTORY.md
  docs/diagrams/inventory.json
  docs/insights/world-issues/PRACTICE.md
  docs/insights/world-issues/THEORY.md
  docs/intent/advice/notes/20251103/CoSync_20251103-000022Z.md
  docs/intent/advice/notes/20251103/CoSync_20251103-014648Z.md
Labels: docs-only, diagrams
