Repository rickballard/CoCivium, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, brand, hero, ops

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(health): refresh Health + Advice/TODO indices
  docs/status/HEALTH.md
Labels: docs

docs(health): refresh Health + Advice/TODO indices
  docs/status/HEALTH.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(health): refresh Health + Advice/TODO indices
  docs/status/HEALTH.md
Labels: docs

docs(health): refresh Health + Advice/TODO indices
  docs/status/BPOE.md
Labels: docs

gitignore: ignore health artifacts
  .gitignore
Labels: none

gitignore: ignore health artifacts
  .gitignore
Labels: none

gitignore: ignore health artifacts
  .gitignore
Labels: none

gitignore: ignore health artifacts
  .gitignore
Labels: none

docs(advisory): add Advice Bomb v0.3 + workflows + learnings (non-blocking)
  .github/ISSUE_TEMPLATE_LEARNING.md
  .github/workflows/drift-watch.yml
  README.advisory.md
  docs/BP_Workflow_Learnings.md
  docs/advisory/AdviceBomb_v0.3/MAIN_MEMO.md
  docs/advisory/modules/capture_immunity/Capture_Immunity_Protocol.md
  docs/advisory/modules/dashboard_staging/Dashboard_Staging_Playbook.md
  docs/advisory/modules/ethical_futures_sandbox/Futures_Sandbox.md
  docs/advisory/modules/ethical_futures_sandbox/sim_bundle.example/scenarios.json
  docs/advisory/modules/ethical_futures_sandbox/sim_bundle.example/thresholds.json
  docs/advisory/modules/policy_drift_engine/Policy_Drift_Engine.md
  docs/advisory/modules/policy_drift_engine/drift_config.example.json
  docs/advisory/modules/readme_multiplexing/README_Multiplexing.md
  docs/advisory/modules/readme_multiplexing/variants/README.default.md
  docs/advisory/modules/readme_multiplexing/variants/README.dev.md
  docs/advisory/modules/readme_multiplexing/variants/README.edu.md
  docs/advisory/modules/readme_multiplexing/variants/README.exec.md
  docs/advisory/modules/value_return_matrix/Value_Return_Matrix.md
  schemas/CanonScore.json
Labels: docs, ci

Final Polish — Advice Bomb v0.3 (docs & scaffolding) (#400)
  .github/ISSUE_TEMPLATE_LEARNING.md
  .github/workflows/drift-watch.yml
  .gitignore
  README.advisory.md
  docs/BP_Workflow_Learnings.md
  docs/advisory/AdviceBomb_v0.3/MAIN_MEMO.md
  docs/advisory/modules/capture_immunity/Capture_Immunity_Protocol.md
  docs/advisory/modules/dashboard_staging/Dashboard_Staging_Playbook.md
  docs/advisory/modules/ethical_futures_sandbox/Futures_Sandbox.md
  docs/advisory/modules/ethical_futures_sandbox/sim_bundle.example/scenarios.json
  docs/advisory/modules/ethical_futures_sandbox/sim_bundle.example/thresholds.json
  docs/advisory/modules/policy_drift_engine/Policy_Drift_Engine.md
  docs/advisory/modules/policy_drift_engine/drift_config.example.json
  docs/advisory/modules/readme_multiplexing/README_Multiplexing.md
  docs/advisory/modules/readme_multiplexing/variants/README.default.md
  docs/advisory/modules/readme_multiplexing/variants/README.dev.md
  docs/advisory/modules/readme_multiplexing/variants/README.edu.md
  docs/advisory/modules/readme_multiplexing/variants/README.exec.md
  docs/advisory/modules/value_return_matrix/Value_Return_Matrix.md
  docs/status/BPOE.md
  docs/status/HEALTH.md
  schemas/CanonScore.json
Labels: docs, ci

Final Polish — Advice Bomb v0.3 (docs & scaffolding) (#400)
  .github/ISSUE_TEMPLATE_LEARNING.md
  .github/workflows/drift-watch.yml
  .gitignore
  README.advisory.md
  docs/BP_Workflow_Learnings.md
  docs/advisory/AdviceBomb_v0.3/MAIN_MEMO.md
  docs/advisory/modules/capture_immunity/Capture_Immunity_Protocol.md
  docs/advisory/modules/dashboard_staging/Dashboard_Staging_Playbook.md
  docs/advisory/modules/ethical_futures_sandbox/Futures_Sandbox.md
  docs/advisory/modules/ethical_futures_sandbox/sim_bundle.example/scenarios.json
  docs/advisory/modules/ethical_futures_sandbox/sim_bundle.example/thresholds.json
  docs/advisory/modules/policy_drift_engine/Policy_Drift_Engine.md
  docs/advisory/modules/policy_drift_engine/drift_config.example.json
  docs/advisory/modules/readme_multiplexing/README_Multiplexing.md
  docs/advisory/modules/readme_multiplexing/variants/README.default.md
  docs/advisory/modules/readme_multiplexing/variants/README.dev.md
  docs/advisory/modules/readme_multiplexing/variants/README.edu.md
  docs/advisory/modules/readme_multiplexing/variants/README.exec.md
  docs/advisory/modules/value_return_matrix/Value_Return_Matrix.md
  docs/status/BPOE.md
  docs/status/HEALTH.md
  schemas/CanonScore.json
Labels: docs, ci

docs: add/refresh public profile + LinkedIn/Substack variants
  docs/outreach/LehaneOps/reports/LehaneWatch.md
  docs/public-profile.md
  docs/public-profile_linkedin.txt
  docs/public-profile_substack.txt
  docs/status/BPOE.md
Labels: docs

docs: add/refresh public profile + LinkedIn/Substack variants
  docs/outreach/LehaneOps/reports/LehaneWatch.md
  docs/public-profile.md
  docs/public-profile_linkedin.txt
  docs/public-profile_substack.txt
  docs/status/BPOE.md
Labels: docs

docs: add/refresh public profile + LinkedIn/Substack variants
  docs/status/BPOE.md
Labels: docs

docs: add/refresh public profile + LinkedIn/Substack variants
  docs/status/BPOE.md
Labels: docs

ci: add sync-profile workflow
  .github/workflows/sync-profile.yml
Labels: ci

ci: add sync-profile workflow
  .github/workflows/sync-profile.yml
Labels: ci

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

.github/labeler.yml:

# actions/labeler@v5 schema: each label maps to an ARRAY of rule objects.
# See: https://github.com/actions/labeler
docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md','docs/**','insights/**','stories/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

brand:
  - changed-files:
      - any-glob-to-any-file: ['brand/**','assets/brand/**']

hero:
  - changed-files:
      - any-glob-to-any-file: ['docs/onboarding/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['admin/**','tools/**']
