Repository rickballard/CoCivium, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, brand, hero, ops

humanize: de-noise ops/.github/docs via .gitattributes
  .gitattributes
Labels: none

docs(cocivium): scaffold constitution mega-scroll (outline, weak areas, section stubs, index)
  docs/constitution/INDEX.md
  docs/constitution/OUTLINE.md
  docs/constitution/WEAK_AREAS.md
  docs/constitution/sections/00_preamble.md
  docs/constitution/sections/10_rights_duties.md
  docs/constitution/sections/20_governance.md
  docs/constitution/sections/30_operations.md
  docs/constitution/sections/40_info_data.md
  docs/constitution/sections/50_finance_risk.md
  docs/constitution/sections/60_tech_security.md
  docs/constitution/sections/70_community_partnerships.md
  docs/constitution/sections/80_amendments.md
  docs/constitution/sections/90_notes.md
Labels: docs

docs(indexing): seed GIBindex/CoRef schemas + samples
  docs/indexing/coref.sample.json
  docs/indexing/coref.schema.json
  docs/indexing/gibindex.sample.json
  docs/indexing/gibindex.schema.json
Labels: docs

docs: add Control Room & Metrics badges
  README.md
Labels: docs

docs(training): add CoSuite 101 (basics, handshake, safety pillars)
  docs/training/CoSuite101/03_CoBatch_Basics.md
  docs/training/CoSuite101/04_Handshake_Pipeline.md
  docs/training/CoSuite101/06_Safety_Pillars.md
  docs/training/CoSuite101/README.md
Labels: docs

status: CoSync (CDI 15% AMBER)
  README.md
  status/codrift.json
Labels: docs

status: CoSync (CDI 15% AMBER)
  README.md
  docs/index/ADVICE-INDEX.md
  docs/index/TODO-INDEX.md
  status/codrift.json
Labels: docs

status: CoSync (CDI 15% AMBER)
  README.md
  status/codrift.json
Labels: docs

vision: clarify hostile-jurisdiction protocol and add long-term horizon
  docs/vision/CoCivium_Vision.md
  scripts/CoSync.ps1
  scripts/Measure-CoDrift.ps1
  scripts/Update-StatusBlock.ps1
Labels: docs

ci: add lint-content workflow to block emdashes
  .github/workflows/lint-content.yml
Labels: ci

lint: add scripts/CoLint.ps1 (local preflight for emdashes)
  scripts/CoLint.ps1
Labels: none

bpoe(hooks): staged-only emdash ban in pre-commit
  .githooks/pre-commit.ps1
Labels: none

status: CoSync (CDI 15% AMBER)
  README.md
  status/codrift.json
Labels: docs

status: CoSync (CDI 15% AMBER)
  README.md
  status/codrift.json
Labels: docs

status: CoSync (CDI 15% AMBER)
  README.md
  status/codrift.json
Labels: docs

cosync(policy): guard status/ & README for non-opted-in repos
  .githooks/pre-commit.ps1
Labels: none

cosync(policy): guard status/ & README for non-opted-in repos
  .githooks/pre-commit.ps1
Labels: none

cosync(policy): guard status/ & README for non-opted-in repos
  .githooks/pre-commit.ps1
Labels: none

cosync: opt-in marker
  .cosync-allow
Labels: none

cosync: opt-in marker
  .cosync-allow
Labels: none

cosync: opt-in marker
  .cosync-allow
Labels: none

chore: add PR template (freeze hygiene)
  .github/pull_request_template.md
Labels: docs, ci

docs: embed constellation hero
  README.md
Labels: docs

ci: publish /site via GitHub Pages
  .github/workflows/pages.yml
Labels: ci

site(hero): write svg + log viz receipt
  site/hero/data.json
  site/hero/index.html
Labels: none

ci(hero): monthly spider refresh
  .github/workflows/hero-monthly.yml
Labels: ci

Add GamesHandoff_20251025_042342_Recovery with session summary for CoPrime
  games/GamesHandoff_20251025_042342_Recovery/GamesHandoff_20251025_042342_Recovery/GamesHandoff.md
Labels: docs

CoPrime: breadcrumb + latest pointers
  COPRIME_BREADCRUMB.md
Labels: docs

CoPrime: breadcrumb + latest pointers
  COPRIME_BREADCRUMB.md
Labels: docs

CoPrime: breadcrumb + latest pointers
  COPRIME_BREADCRUMB.md
Labels: docs

feat(diagrams): canonical JSON schema+example; PS7 generators → Mermaid/D2; DIAGRAMS.md; GIBindex: CoPulse
  docs/DIAGRAMS.md
  docs/diagrams/examples/cosuite.asset-graph.json
  docs/diagrams/render/asset-graph.d2
  docs/diagrams/render/asset-graph.mmd
  docs/diagrams/schemas/diagram.schema.json
  docs/lexicon/GIBindex.md
Labels: docs

ci(links): add backlink scanner + initial index
  docs/links/BACKLINKS.md
  docs/links/backlinks.json
  tools/links/Scan-Backlinks.ps1
Labels: docs, ops

Fix typo in public-profile.md
  docs/public-profile.md
Labels: docs

Fix grammatical error in public-profile.md
  docs/public-profile.md
Labels: docs

Update transparency request message for clarity
  docs/public-profile.md
Labels: docs

Refine Rick's bio for clarity and punctuation
  docs/public-profile.md
Labels: docs

Update Rick's bio for better readability
  docs/public-profile.md
Labels: docs

Improve clarity in public profile description
  docs/public-profile.md
Labels: docs

Update wording in public-profile.md
  docs/public-profile.md
Labels: docs

Fix grammatical structure in public-profile.md
  docs/public-profile.md
Labels: docs

.github/labeler.yml:

# actions/labeler@v5 schema: each label maps to an ARRAY of rule objects.
# See: https://github.com/actions/labeler
docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md','docs/**','insights/**','stories/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

brand:
  - changed-files:
      - any-glob-to-any-file: ['brand/**','assets/brand/**']

hero:
  - changed-files:
      - any-glob-to-any-file: ['docs/onboarding/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['admin/**','tools/**']
