Repository rickballard/CoCivium, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-only, ci, diagrams

docs: CoSync — Vitals pointers & next steps
  docs/intent/advice/notes/20251029/CoSync_Vitals_20251029T210601Z.md
Labels: docs-only

docs(diagrams): make Mermaid render on GitHub (vital-signs.mmd) (#444)
  docs/intent/advice/notes/20251029/CoSync_Vitals_20251029T210601Z.md
Labels: docs-only

docs: CoSync — handoff to CoPrime for diagrams (Vitals)
  docs/intent/advice/notes/20251029/CoSync_Vitals_Handoff_20251029T211529Z.md
Labels: docs-only

docs(diagrams): normalize Inventory TOC + anchors; remove duplicated section tokens
  docs/diagrams/INVENTORY.md
Labels: docs-only, diagrams

docs(diagrams): prettier Sections nav; ci: auto-generate live Mermaid previews for Inventory
  .github/workflows/diagram-previews.yml
  docs/diagrams/INVENTORY.md
Labels: docs-only, ci, diagrams

docs(diagrams): prettier Inventory (emoji nav, card previews, legend)
  docs/diagrams/INVENTORY.md
Labels: docs-only, diagrams

docs(diagrams): prettier Sections nav; ci: auto-generate live Mermaid previews for Inventory (#446)
  .github/workflows/diagram-previews.yml
  docs/diagrams/INVENTORY.md
Labels: docs-only, ci, diagrams

ci(guard): enforce Mermaid directive order (flowchart before classDef)
  .github/workflows/mermaid-guard.yml
Labels: ci

docs: CoSync — handoff to CoPrime (diagrams & systematics)
  docs/intent/advice/notes/20251030/CoSync_Diagrams_Handoff_20251030T191019Z.md
Labels: docs-only

chore(preview): nudge CI to rebuild diagram previews
  docs/diagrams/INVENTORY.md
Labels: docs-only, diagrams

ci(preview): render Mermaid .mmd → SVG into docs/diagrams/_previews
  .github/workflows/diagram-previews.yml
Labels: ci

ci(guard): enforce Mermaid directive order (flowchart before classDef)
  .github/workflows/mermaid-guard.yml
Labels: ci

fix(mermaid): vital-signs.mmd — flowchart before classDef; normalize quotes
  docs/diagrams/render/academy/vital-signs.mmd
Labels: docs-only, diagrams

ci(preview): render Mermaid .mmd → SVG into docs/diagrams/_previews
  .github/workflows/diagram-previews.yml
Labels: ci

ci(guard): enforce Mermaid directive order (flowchart before classDef)
  .github/workflows/mermaid-guard.yml
Labels: ci

chore(preview): trigger diagram-previews CI
  docs/diagrams/INVENTORY.md
Labels: docs-only, diagrams

ci(preview): render Mermaid .mmd -> SVG into docs/diagrams/_previews
  .github/workflows/diagram-previews.yml
Labels: ci

chore(preview): trigger diagram-previews on main
  docs/diagrams/INVENTORY.md
Labels: docs-only, diagrams

docs(diagrams): vital-signs.mmd — minimal valid Mermaid MVP
  docs/diagrams/render/academy/vital-signs.mmd
Labels: docs-only, diagrams

ci(preview): log mmdc errors; commit successes + _errors logs
  .github/workflows/diagram-previews.yml
Labels: ci

ci(preview): add Puppeteer no-sandbox config for mermaid-cli
  .github/puppeteer.config.cjs
Labels: none

docs(diagrams): vital-signs — fix hex + normalize
  docs/diagrams/render/academy/vital-signs.mmd
Labels: docs-only, diagrams

ci(preview): render Mermaid & Vega-Lite to _previews; whitelist previews; add Vitals chart stub
  .github/workflows/diagram-previews.yml
  .gitignore
  docs/diagrams/render/academy/vital-signs.vl.json
Labels: docs-only, ci, diagrams

docs(diagrams): inventory entries for vitals; nudge workflow
  docs/diagrams/INVENTORY.md
  docs/diagrams/render/academy/vital-signs.mmd
Labels: docs-only, diagrams

docs(intent): CoSync note – Vitals & Previews setup
  docs/intent/advice/notes/20251030/CoSync_20251031-025949Z.md
Labels: docs-only

ci(preview): render Mermaid & Vega-Lite to _previews; whitelist previews
  .github/workflows/diagram-previews.yml
Labels: ci

docs(diagrams): inventory — Vitals (method + chart)
  docs/diagrams/INVENTORY.md
Labels: docs-only, diagrams

docs(intent): CoSync handover — Vitals & Previews
  docs/intent/advice/notes/20251030/CoSync_20251031-030655Z.md
Labels: docs-only

ci(preview): add workflow_dispatch; split outputs (-map.svg / -chart.svg); force-add
  .github/workflows/diagram-previews.yml
Labels: ci

vitals: scaffold + toy normalized series + refreshed VL spec + tools
  data/vitals/normalized/ExtremePovertyInv.csv
  data/vitals/normalized/LifeExpectancy.csv
  data/vitals/normalized/Literacy.csv
  docs/diagrams/INVENTORY.md
  docs/diagrams/render/academy/vital-signs.vl.json
  docs/diagrams/vitals/VITALS_CATALOG.yml
  docs/diagrams/vitals/methods/extreme-poverty-inv.md
  docs/diagrams/vitals/methods/life-expectancy.md
  docs/diagrams/vitals/methods/literacy.md
  tools/vitals/Build-Vitals.ps1
  tools/vitals/New-AdviceBomb-Vitals.ps1
  tools/vitals/New-VitalsScaffold.ps1
  tools/vitals/Patch-DiagramPreviewsWorkflow.ps1
  tools/vitals/Update-VitalsChart.ps1
Labels: docs-only, diagrams

ci(preview): add workflow_dispatch; mmdc no-sandbox; force-add previews
  .github/workflows/diagram-previews.yml
Labels: ci

ci(preview): known-good renderer for Mermaid + Vega-Lite; split -map/-chart
  .github/workflows/diagram-previews.yml
Labels: ci

docs(intent): CoSync — vitals previews online
  docs/intent/advice/notes/20251031/CoSync_20251031-042926Z.md
Labels: docs-only

ci(preview): fix PS quoting; npx renderer + fonts + artifacts(always)
  .github/workflows/diagram-previews.yml
Labels: ci

ci(preview): create per-file log dirs; keep npx renderers
  .github/workflows/diagram-previews.yml
Labels: ci

build(preview): refresh diagram previews
  docs/diagrams/_previews/_errors/render/academy/vital-signs-chart.log
  docs/diagrams/_previews/_errors/render/academy/vital-signs-map.log
  docs/diagrams/_previews/_errors/render/advice/advicebomb-lifecycle-map.log
  docs/diagrams/_previews/_errors/render/architecture/coagent-4-panel-map.log
  docs/diagrams/_previews/_errors/render/architecture/cosuite-high-level-map.log
  docs/diagrams/_previews/_errors/render/asset-graph-map.log
  docs/diagrams/_previews/_errors/render/audit/coaudit-flow-map.log
  docs/diagrams/_previews/_errors/render/cosuite.asset-graph-map.log
  docs/diagrams/_previews/_errors/render/data/data-flows-map.log
  docs/diagrams/_previews/_errors/render/governance/governance-container-map.log
  docs/diagrams/_previews/_errors/render/identity/meritrank-reptag-map.log
  docs/diagrams/_previews/_errors/render/inseed-timeline-map.log
  docs/diagrams/_previews/_errors/render/legend-map.log
  docs/diagrams/_previews/_errors/render/metrics/metrics-index-map.log
  docs/diagrams/_previews/_errors/render/pipelines/ci-diagrams-export-map.log
  docs/diagrams/_previews/_errors/render/politic/copolitic-spectrum-map.log
  docs/diagrams/_previews/_errors/render/repos/repo-map-map.log
  docs/diagrams/_previews/_errors/render/security/threat-model-map.log
  docs/diagrams/_previews/_errors/render/timeline/roadmap-milestones-map.log
  docs/diagrams/_previews/_errors/vitals/humanity-vitals-map.log
Labels: docs-only, diagrams

ci(preview): add Chromium + native libs; pin CLI majors; summarize log tails
  .github/workflows/diagram-previews.yml
Labels: ci

build(preview): refresh diagram previews
  docs/diagrams/_previews/_errors/render/academy/vital-signs-chart.log
  docs/diagrams/_previews/_errors/render/academy/vital-signs-map.log
  docs/diagrams/_previews/_errors/render/advice/advicebomb-lifecycle-map.log
  docs/diagrams/_previews/_errors/render/architecture/coagent-4-panel-map.log
  docs/diagrams/_previews/_errors/render/architecture/cosuite-high-level-map.log
  docs/diagrams/_previews/_errors/render/asset-graph-map.log
  docs/diagrams/_previews/_errors/render/audit/coaudit-flow-map.log
  docs/diagrams/_previews/_errors/render/cosuite.asset-graph-map.log
  docs/diagrams/_previews/_errors/render/data/data-flows-map.log
  docs/diagrams/_previews/_errors/render/governance/governance-container-map.log
  docs/diagrams/_previews/_errors/render/identity/meritrank-reptag-map.log
  docs/diagrams/_previews/_errors/render/inseed-timeline-map.log
  docs/diagrams/_previews/_errors/render/legend-map.log
  docs/diagrams/_previews/_errors/render/metrics/metrics-index-map.log
  docs/diagrams/_previews/_errors/render/pipelines/ci-diagrams-export-map.log
  docs/diagrams/_previews/_errors/render/politic/copolitic-spectrum-map.log
  docs/diagrams/_previews/_errors/render/repos/repo-map-map.log
  docs/diagrams/_previews/_errors/render/security/threat-model-map.log
  docs/diagrams/_previews/_errors/render/timeline/roadmap-milestones-map.log
  docs/diagrams/_previews/_errors/vitals/humanity-vitals-map.log
Labels: docs-only, diagrams

vitals(chart): make x-axis quantitative for integer years; avoid VL temporal parse errors
  tools/vitals/Update-VitalsChart.ps1
Labels: none

build(preview): refresh diagram previews
  docs/diagrams/_previews/_errors/render/academy/vital-signs-chart.log
Labels: docs-only, diagrams

.github/labeler.yml:

docs-only:
  - "docs/**"
  - "**/*.md"
  - "advice/**"
ci:
  - ".github/workflows/**"
diagrams:
  - "docs/diagrams/**"
