Repository rickballard/CoCivium, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, brand, hero, ops

pause: checkpoint 20250908-030130
  MIGRATION/Checkpoint-20250908-030130.txt
Labels: none

pause: checkpoint 20250908-030130
  MIGRATION/Checkpoint-20250908-030130.txt
Labels: none

chore(docs): revert “name-pending” → “Noname”; H1 restore; lint-normalize
  insights/story-being-noname.md
Labels: docs

ci: codespell wordlists + MD/YAML hygiene (no content change)
  insights/story-being-noname.md
Labels: docs

BPOE: capture admin no-bypass roadblock; add minimal CI gating; document Noname + CI lessons
  tools/CoAgent/CoAgent.psm1
  tools/CoAgent/CoPong.FullSend.psm1
  tools/CoAgent/CoPong.OneWay.psm1
Labels: ops

PR hygiene: remove tmp-CoCivium-verify and CoAgent scripts; ignore tmp-CoCivium-verify
  tools/CoAgent/CoAgent.psm1
  tools/CoAgent/CoPong.FullSend.psm1
  tools/CoAgent/CoPong.OneWay.psm1
Labels: ops

docs(CC): scaffold articles 1–8 with minimal stubs anchored to PREAMBLE (#365)
  docs/cc/00_INDEX.md
  docs/cc/01_Principles.md
  docs/cc/02_Rights_and_Symmetry.md
  docs/cc/06_Sandboxing_and_Interop.md
  docs/cc/07_Auditability_and_Verification.md
  docs/cc/08_Evolution_and_Amendments.md
  docs/cc/README.md
  scripts/do/Convert-TranscriptToScript.ps1
  scripts/do/Lint-Blocks.ps1
Labels: docs

docs(CC): scaffold articles 1–8 with minimal stubs anchored to PREAMBLE (#365)
  docs/cc/00_INDEX.md
  docs/cc/01_Principles.md
  docs/cc/02_Rights_and_Symmetry.md
  docs/cc/06_Sandboxing_and_Interop.md
  docs/cc/07_Auditability_and_Verification.md
  docs/cc/08_Evolution_and_Amendments.md
  docs/cc/README.md
  scripts/do/Convert-TranscriptToScript.ps1
  scripts/do/Lint-Blocks.ps1
Labels: docs

docs(insights): add 4 IdeaCards (real content) (#368)
  MIGRATION/bundles/Session_2025-09-08_0133_FINAL.sha256
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/00_INDEX.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/06_Sandboxing_and_Interop.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/07_Auditability_and_Verification.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/08_Evolution_and_Amendments.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/Core_Assumption.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/Core_Assumption_Explained.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_3Panel_CoCache_Heartbeat.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_Being_Rights.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_CoAnchor_And_CoJanus.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_CoStasis_AllSmokes.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_Oddnotes_20250905.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/PREAMBLE.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/SESSION_SUMMARY.md
  insights/IdeaCard_3Panel_CoCache_Heartbeat.md
  insights/IdeaCard_Being_Rights.md
  insights/IdeaCard_CoAnchor_And_CoJanus.md
  insights/IdeaCard_CoStasis_AllSmokes.md
Labels: docs

docs(insights): add 4 IdeaCards (real content) (#368)
  MIGRATION/bundles/Session_2025-09-08_0133_FINAL.sha256
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/00_INDEX.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/06_Sandboxing_and_Interop.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/07_Auditability_and_Verification.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/08_Evolution_and_Amendments.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/Core_Assumption.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/Core_Assumption_Explained.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_3Panel_CoCache_Heartbeat.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_Being_Rights.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_CoAnchor_And_CoJanus.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_CoStasis_AllSmokes.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_Oddnotes_20250905.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/PREAMBLE.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/SESSION_SUMMARY.md
  insights/IdeaCard_3Panel_CoCache_Heartbeat.md
  insights/IdeaCard_Being_Rights.md
  insights/IdeaCard_CoAnchor_And_CoJanus.md
  insights/IdeaCard_CoStasis_AllSmokes.md
Labels: docs

cowrap intake (auto): stage generated package summaries and raw assets
  docs/cowrap-intake/generic_intake_2025-09-11_044919Z/SUMMARY.paste.md
Labels: docs

Add IdeaCards batch 3 (39–42) — Civium docs intake
  docs/ideas/2025-09-11/batch-3/IdeaCards/39_civiproof-ui-human-readable-provenance-viewer.json
  docs/ideas/2025-09-11/batch-3/IdeaCards/40_copulse-live-congruence-latency-metrics.json
  docs/ideas/2025-09-11/batch-3/IdeaCards/41_repolens-visual-navigator-for-docs-standards.json
  docs/ideas/2025-09-11/batch-3/IdeaCards/42_covibe-preferences-personalization-without-capture.json
  docs/ideas/2025-09-11/batch-3/README.md
  docs/ideas/2025-09-11/batch-3/manifest.json
Labels: docs

Add IdeaCards batch 3 (39–42) — Civium docs intake
  docs/ideas/2025-09-11/batch-3/IdeaCards/39_civiproof-ui-human-readable-provenance-viewer.json
  docs/ideas/2025-09-11/batch-3/IdeaCards/40_copulse-live-congruence-latency-metrics.json
  docs/ideas/2025-09-11/batch-3/IdeaCards/41_repolens-visual-navigator-for-docs-standards.json
  docs/ideas/2025-09-11/batch-3/IdeaCards/42_covibe-preferences-personalization-without-capture.json
  docs/ideas/2025-09-11/batch-3/README.md
  docs/ideas/2025-09-11/batch-3/manifest.json
Labels: docs

status: stub audit (threshold=150)
  docs/status/stubs-2025-09-11_175915Z.csv
Labels: docs

status: stub audit (threshold=150)
  docs/status/stubs-2025-09-11_175915Z.csv
Labels: docs

status: KPIs snapshot
  docs/status/README.md
  docs/status/metrics.json
Labels: docs

status: KPIs snapshot
  docs/status/README.md
  docs/status/metrics.json
Labels: docs

chore: EOL + ignore baselines
  .gitattributes
  .gitignore
Labels: none

chore: EOL + ignore baselines
  .gitattributes
  .gitignore
Labels: none

Add IdeaCards batch 4 — Civium docs intake (ZIP SHA256=fa010425be2cf6c932a9c37801a93497d21c573cb0272b955fbce6289ad274d3)
  docs/ideas/2025-09-11/batch-4/IdeaCards/43_coindex-site-generator-public-standards-tools-portal.json
  docs/ideas/2025-09-11/batch-4/IdeaCards/44_proofpack-one-click-civiproof-bundles.json
  docs/ideas/2025-09-11/batch-4/IdeaCards/45_coguard-rails-template-guardrails-for-protectorates.json
  docs/ideas/2025-09-11/batch-4/IdeaCards/46_codialogues-reptag-weighted-public-debate-arenas.json
  docs/ideas/2025-09-11/batch-4/README.md
  docs/ideas/2025-09-11/batch-4/manifest.json
Labels: docs

Add IdeaCards batch 4 — Civium docs intake (ZIP SHA256=fa010425be2cf6c932a9c37801a93497d21c573cb0272b955fbce6289ad274d3)
  docs/ideas/2025-09-11/batch-4/IdeaCards/43_coindex-site-generator-public-standards-tools-portal.json
  docs/ideas/2025-09-11/batch-4/IdeaCards/44_proofpack-one-click-civiproof-bundles.json
  docs/ideas/2025-09-11/batch-4/IdeaCards/45_coguard-rails-template-guardrails-for-protectorates.json
  docs/ideas/2025-09-11/batch-4/IdeaCards/46_codialogues-reptag-weighted-public-debate-arenas.json
  docs/ideas/2025-09-11/batch-4/README.md
  docs/ideas/2025-09-11/batch-4/manifest.json
Labels: docs

Add IdeaCards batch 5 (47–50) — Civium docs intake (ZIP SHA256=53fbc2151e59cc965acfd54c6c44ff00d98f0fe5f1688860a5737cac0c6e796d)
  docs/ideas/2025-09-11/batch-5/IdeaCards/47_copath-safe-shared-planning-with-pseudonymous-accounts.json
  docs/ideas/2025-09-11/batch-5/IdeaCards/48_civium-labs-sandboxed-field-trials-and-ab-guarded-rollouts.json
  docs/ideas/2025-09-11/batch-5/IdeaCards/49_cobounty-open-bounty-market-for-civic-tasks.json
  docs/ideas/2025-09-11/batch-5/IdeaCards/50_civiguard-red-team-drills-and-incident-snapshots.json
  docs/ideas/2025-09-11/batch-5/README.md
  docs/ideas/2025-09-11/batch-5/manifest.json
Labels: docs

Add IdeaCards batch 5 (47–50) — Civium docs intake (ZIP SHA256=53fbc2151e59cc965acfd54c6c44ff00d98f0fe5f1688860a5737cac0c6e796d)
  docs/ideas/2025-09-11/batch-5/IdeaCards/47_copath-safe-shared-planning-with-pseudonymous-accounts.json
  docs/ideas/2025-09-11/batch-5/IdeaCards/48_civium-labs-sandboxed-field-trials-and-ab-guarded-rollouts.json
  docs/ideas/2025-09-11/batch-5/IdeaCards/49_cobounty-open-bounty-market-for-civic-tasks.json
  docs/ideas/2025-09-11/batch-5/IdeaCards/50_civiguard-red-team-drills-and-incident-snapshots.json
  docs/ideas/2025-09-11/batch-5/README.md
  docs/ideas/2025-09-11/batch-5/manifest.json
Labels: docs

Add IdeaCards batch 6 (51–54) — Government recovery & reform
  docs/ideas/2025-09-11/batch-6/IdeaCards/51_civireform-kit-post-capture-government-recovery-playbook.json
  docs/ideas/2025-09-11/batch-6/IdeaCards/52_public-service-ledger-capability-map-and-meritrails.json
  docs/ideas/2025-09-11/batch-6/IdeaCards/53_crisis-registry-and-auto-sunset-emergency-powers-audit.json
  docs/ideas/2025-09-11/batch-6/IdeaCards/54_civicontracts-policy-as-code-with-civic-tests.json
  docs/ideas/2025-09-11/batch-6/README.md
  docs/ideas/2025-09-11/batch-6/manifest.json
Labels: docs

Add IdeaCards batch 6 (51–54) — Government recovery & reform
  docs/ideas/2025-09-11/batch-6/IdeaCards/51_civireform-kit-post-capture-government-recovery-playbook.json
  docs/ideas/2025-09-11/batch-6/IdeaCards/52_public-service-ledger-capability-map-and-meritrails.json
  docs/ideas/2025-09-11/batch-6/IdeaCards/53_crisis-registry-and-auto-sunset-emergency-powers-audit.json
  docs/ideas/2025-09-11/batch-6/IdeaCards/54_civicontracts-policy-as-code-with-civic-tests.json
  docs/ideas/2025-09-11/batch-6/README.md
  docs/ideas/2025-09-11/batch-6/manifest.json
Labels: docs

ops: weekly AI IdeaCard inflow (draft PR, labeled, guarded)
  .github/workflows/ai-ideacard-weekly.yml
  scripts/gen_ideacard.mjs
Labels: ci

ops: weekly AI IdeaCard inflow (draft PR, labeled, guarded)
  .github/workflows/ai-ideacard-weekly.yml
  scripts/gen_ideacard.mjs
Labels: ci

ops: make IdeaCard generator fence/JSON tolerant + sturdier logs
  scripts/gen_ideacard.mjs
Labels: none

ops: make IdeaCard generator fence/JSON tolerant + sturdier logs
  scripts/gen_ideacard.mjs
Labels: none

ideas: intake ZIP (sha256=c4e2cd2266da2e59da99113f802f4ddb5f690dcf04606fb8f87de2a077342ce7)
  docs/ideas/2025-09-11/imports-170038/IdeaCards/51_civireform-kit-post-capture-government-recovery-playbook.json
  docs/ideas/2025-09-11/imports-170038/IdeaCards/52_public-service-ledger-capability-map-and-meritrails.json
  docs/ideas/2025-09-11/imports-170038/IdeaCards/53_crisis-registry-and-auto-sunset-emergency-powers-audit.json
  docs/ideas/2025-09-11/imports-170038/IdeaCards/54_civicontracts-policy-as-code-with-civic-tests.json
  docs/ideas/2025-09-11/imports-170038/README.md
  docs/ideas/2025-09-11/imports-170038/manifest.json
Labels: docs

ideas: intake ZIP (sha256=c4e2cd2266da2e59da99113f802f4ddb5f690dcf04606fb8f87de2a077342ce7)
  docs/ideas/2025-09-11/imports-170038/IdeaCards/51_civireform-kit-post-capture-government-recovery-playbook.json
  docs/ideas/2025-09-11/imports-170038/IdeaCards/52_public-service-ledger-capability-map-and-meritrails.json
  docs/ideas/2025-09-11/imports-170038/IdeaCards/53_crisis-registry-and-auto-sunset-emergency-powers-audit.json
  docs/ideas/2025-09-11/imports-170038/IdeaCards/54_civicontracts-policy-as-code-with-civic-tests.json
  docs/ideas/2025-09-11/imports-170038/README.md
  docs/ideas/2025-09-11/imports-170038/manifest.json
Labels: docs

ops: AI IdeaCard weekly workflow + robust generator
  .github/workflows/ai-ideacard-weekly.yml
  scripts/gen_ideacard.mjs
Labels: ci

ops: AI IdeaCard weekly workflow + robust generator
  .github/workflows/ai-ideacard-weekly.yml
  scripts/gen_ideacard.mjs
Labels: ci

ideas: intake ZIP (sha256=c4e2cd2266da2e59da99113f802f4ddb5f690dcf04606fb8f87de2a077342ce7)
  docs/ideas/2025-09-11/imports-171257/IdeaCards/51_civireform-kit-post-capture-government-recovery-playbook.json
  docs/ideas/2025-09-11/imports-171257/IdeaCards/52_public-service-ledger-capability-map-and-meritrails.json
  docs/ideas/2025-09-11/imports-171257/IdeaCards/53_crisis-registry-and-auto-sunset-emergency-powers-audit.json
  docs/ideas/2025-09-11/imports-171257/IdeaCards/54_civicontracts-policy-as-code-with-civic-tests.json
  docs/ideas/2025-09-11/imports-171257/README.md
  docs/ideas/2025-09-11/imports-171257/manifest.json
Labels: docs

ideas: intake ZIP (sha256=c4e2cd2266da2e59da99113f802f4ddb5f690dcf04606fb8f87de2a077342ce7)
  docs/ideas/2025-09-11/imports-171257/IdeaCards/51_civireform-kit-post-capture-government-recovery-playbook.json
  docs/ideas/2025-09-11/imports-171257/IdeaCards/52_public-service-ledger-capability-map-and-meritrails.json
  docs/ideas/2025-09-11/imports-171257/IdeaCards/53_crisis-registry-and-auto-sunset-emergency-powers-audit.json
  docs/ideas/2025-09-11/imports-171257/IdeaCards/54_civicontracts-policy-as-code-with-civic-tests.json
  docs/ideas/2025-09-11/imports-171257/README.md
  docs/ideas/2025-09-11/imports-171257/manifest.json
Labels: docs

ideas: intake ZIP (sha256=c4e2cd2266da2e59da99113f802f4ddb5f690dcf04606fb8f87de2a077342ce7)
  docs/ideas/2025-09-11/imports-172523/IdeaCards/51_civireform-kit-post-capture-government-recovery-playbook.json
  docs/ideas/2025-09-11/imports-172523/IdeaCards/52_public-service-ledger-capability-map-and-meritrails.json
  docs/ideas/2025-09-11/imports-172523/IdeaCards/53_crisis-registry-and-auto-sunset-emergency-powers-audit.json
  docs/ideas/2025-09-11/imports-172523/IdeaCards/54_civicontracts-policy-as-code-with-civic-tests.json
  docs/ideas/2025-09-11/imports-172523/README.md
  docs/ideas/2025-09-11/imports-172523/manifest.json
Labels: docs

ideas: intake ZIP (sha256=c4e2cd2266da2e59da99113f802f4ddb5f690dcf04606fb8f87de2a077342ce7)
  docs/ideas/2025-09-11/imports-172523/IdeaCards/51_civireform-kit-post-capture-government-recovery-playbook.json
  docs/ideas/2025-09-11/imports-172523/IdeaCards/52_public-service-ledger-capability-map-and-meritrails.json
  docs/ideas/2025-09-11/imports-172523/IdeaCards/53_crisis-registry-and-auto-sunset-emergency-powers-audit.json
  docs/ideas/2025-09-11/imports-172523/IdeaCards/54_civicontracts-policy-as-code-with-civic-tests.json
  docs/ideas/2025-09-11/imports-172523/README.md
  docs/ideas/2025-09-11/imports-172523/manifest.json
Labels: docs

LehaneOps: initial watcher run — update rolling digest
  docs/outreach/LehaneOps/README.md
  docs/outreach/LehaneOps/artifacts/decision_log.md
  docs/outreach/LehaneOps/artifacts/github-action/.github/workflows/governance-gate.yml
  docs/outreach/LehaneOps/artifacts/risk_tags.yml
  docs/outreach/LehaneOps/issues-templates/lehaneops-task.yml
  docs/outreach/LehaneOps/plans/01_precursor.md
  docs/outreach/LehaneOps/plans/02_outreach.md
  docs/outreach/LehaneOps/reports/LehaneWatch.md
  docs/outreach/LehaneOps/watchers/Invoke-PrelaunchCheck.ps1
  docs/outreach/LehaneOps/watchers/Run-LehaneWatcher.ps1
  docs/outreach/LehaneOps/watchers/Setup-LehaneWatcher.ps1
  docs/outreach/LehaneOps/watchers/watch.sample.json
Labels: docs

LehaneOps: initial watcher run — update rolling digest
  docs/outreach/LehaneOps/README.md
  docs/outreach/LehaneOps/artifacts/decision_log.md
  docs/outreach/LehaneOps/artifacts/github-action/.github/workflows/governance-gate.yml
  docs/outreach/LehaneOps/artifacts/risk_tags.yml
  docs/outreach/LehaneOps/issues-templates/lehaneops-task.yml
  docs/outreach/LehaneOps/plans/01_precursor.md
  docs/outreach/LehaneOps/plans/02_outreach.md
  docs/outreach/LehaneOps/reports/LehaneWatch.md
  docs/outreach/LehaneOps/watchers/Invoke-PrelaunchCheck.ps1
  docs/outreach/LehaneOps/watchers/Run-LehaneWatcher.ps1
  docs/outreach/LehaneOps/watchers/Setup-LehaneWatcher.ps1
  docs/outreach/LehaneOps/watchers/watch.sample.json
Labels: docs

LehaneOps: watcher run — refresh digest & logs
  docs/outreach/LehaneOps/reports/LehaneWatch.md
  docs/outreach/LehaneOps/reports/logs/20250911_175146.json
Labels: docs

.github/labeler.yml:

# actions/labeler@v5 schema: each label maps to an ARRAY of rule objects.
# See: https://github.com/actions/labeler
docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md','docs/**','insights/**','stories/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

brand:
  - changed-files:
      - any-glob-to-any-file: ['brand/**','assets/brand/**']

hero:
  - changed-files:
      - any-glob-to-any-file: ['docs/onboarding/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['admin/**','tools/**']
