Repository rickballard/CoCivium, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, brand, hero, ops

.github/labeler.yml:

# actions/labeler@v5 schema: each label maps to an ARRAY of rule objects.
# See: https://github.com/actions/labeler
docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md','docs/**','insights/**','stories/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

brand:
  - changed-files:
      - any-glob-to-any-file: ['brand/**','assets/brand/**']

hero:
  - changed-files:
      - any-glob-to-any-file: ['docs/onboarding/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['admin/**','tools/**']

bpoe(cosync): canonical CoSync + Delta template + receipt writer + CODEOWNERS (seed)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/cosync-delta.yml
  scripts/cosync/Write-CoSyncReceipt.ps1
Labels: ci

diagrams: no-here-strings builder; safe labels + optional rel; lint; deterministic fences [20251028T144530Z]
  docs/DIAGRAMS.md
  docs/diagrams/render/asset-graph.mmd
  docs/diagrams/tools/build-diagrams.clean.ps1
Labels: docs

docs(bpoe): capture diagrams CI hardening learnings; CoSync note [20251028T150243Z]
  docs/intent/advice/notes/20251028/CoSync_20251028T150238Z.md
Labels: docs

bpoe(cosync): normalize path case to docs/bpoe/**
  docs/BPOE/COCHAT.md
  docs/BPOE/CONTRIBUTING_PREFS.md
  docs/BPOE/ISSUEOPS.md
  docs/BPOE/IssueOps-CheatSheet.md
  docs/BPOE/LESSONS.md
  docs/BPOE/Migration_Log.md
  docs/BPOE/Migration_Report_2025-08-24_00-34.md
  docs/BPOE/Migration_Report_2025-08-24_00-36.md
  docs/BPOE/PLAYBOOKS.md
  docs/BPOE/STYLE.md
  docs/BPOE/TIPS.md
  docs/BPOE/Workflow.md
  docs/BPOE/prefs.yml
Labels: docs

bpoe: add machine-readable BPOE.rules.json + rendered BPOE_Rules.md
  docs/bpoe/process/BPOE.rules.json
  docs/bpoe/process/BPOE_Rules.md
Labels: docs

docs(bpoe): append additional diagrams workflow learnings [20251028T155808Z]
  docs/bpoe/workflow/DIAGRAMS_BPOE_20251028.md
Labels: docs

docs(bpoe): pointer to CoCache canonical BPOE
  docs/BPOE/README.md
Labels: docs

diagrams: hydrate builder onto main (temporary) [20251028T173548Z]
  .github/workflows/diagrams.yml
  docs/diagrams/tools/build-diagrams.clean.ps1
Labels: docs, ci

BPOE: CoSync + CoSync-Delta + Receipts (seed) (#426)
  docs/BPOE/COCHAT.md
  docs/BPOE/CONTRIBUTING_PREFS.md
  docs/BPOE/ISSUEOPS.md
  docs/BPOE/IssueOps-CheatSheet.md
  docs/BPOE/LESSONS.md
  docs/BPOE/Migration_Log.md
  docs/BPOE/Migration_Report_2025-08-24_00-34.md
  docs/BPOE/Migration_Report_2025-08-24_00-36.md
  docs/BPOE/PLAYBOOKS.md
  docs/BPOE/STYLE.md
  docs/BPOE/TIPS.md
  docs/BPOE/Workflow.md
  docs/BPOE/prefs.yml
  docs/bpoe/process/BPOE.rules.json
  docs/bpoe/process/BPOE_Rules.md
  docs/bpoe/workflow/DIAGRAMS_BPOE_20251028.md
  docs/intent/advice/notes/20251028/CoSync_20251028T150238Z.md
Labels: docs

diagrams: rehydrate builder with newline-preserving write [20251028T180457Z]
  docs/diagrams/tools/build-diagrams.clean.ps1
Labels: docs

diagrams: seed example JSON; rebuild DIAGRAMS.md + .mmd [20251028T181058Z]
  docs/DIAGRAMS.md
  docs/diagrams/examples/seed.asset-graph.json
  docs/diagrams/render/asset-graph.mmd
Labels: docs

docs(bpoe): pointer to CoCache canonical BPOE
  docs/BPOE/README.md
Labels: docs

docs(bpoe): pointer to CoCache canonical BPOE
  docs/bpoe/README.md
Labels: docs

diagrams: seed multi-area JSONs; rebuild asset graph [20251028T181922Z]
  docs/DIAGRAMS.md
  docs/diagrams/examples/01_repos.core.json
  docs/diagrams/examples/02_services.pipelines.json
  docs/diagrams/examples/03_indexing.gib.json
  docs/diagrams/examples/04_sites.outputs.json
  docs/diagrams/examples/05_ai.governance.json
  docs/diagrams/render/asset-graph.mmd
Labels: docs

diagrams(import): mine InSeed for Mermaid and seed JSON; rebuild [20251028T183646Z]
  docs/DIAGRAMS.md
  docs/diagrams/render/asset-graph.mmd
Labels: docs

diagrams(timeline): add InSeed Mermaid Gantt + JSON source [20251028T185529Z]
  docs/diagrams/data/inseed.timeline.json
  docs/diagrams/render/inseed-timeline.mmd
Labels: docs

diagrams(style): apply high-contrast Mermaid init + classDefs to render/*.mmd [20251028T195513Z]
  docs/diagrams/render/asset-graph.mmd
  docs/diagrams/render/cosuite.asset-graph.mmd
  docs/diagrams/render/inseed-timeline.mmd
Labels: docs

docs(diagrams): add legend + captions in DIAGRAMS.md [20251028T195756Z]
  docs/DIAGRAMS.md
  docs/diagrams/render/legend.mmd
Labels: docs

ci(diagrams): add Mermaid export to SVG/PNG [20251028T200848Z]
  .github/workflows/diagrams-export.yml
Labels: ci

diagrams(timeline): increase contrast + today marker
  docs/diagrams/render/inseed-timeline.mmd
Labels: docs

docs/ci: add diagrams exporter badge, SVG/PNG picture embed, weekly schedule [20251028T224803Z]
  .github/workflows/diagrams-export.yml
  docs/DIAGRAMS.md
Labels: docs, ci

docs(diagrams): fix Legend link path; ensure legend.mmd exists [20251028T224951Z]
  docs/DIAGRAMS.md
Labels: docs

docs(diagrams): fix INVENTORY data-sources (single-item safe) [20251028T230334Z]
  docs/diagrams/INVENTORY.md
Labels: docs

docs(diagrams): tag Discuss links with labels/assignee [20251028T232052Z]
  docs/diagrams/INVENTORY.md
Labels: docs

docs(diagrams): seed per-diagram meta stubs [20251028T232336Z]
  docs/diagrams/meta/asset-graph.mmd.json
  docs/diagrams/meta/cosuite.asset-graph.mmd.json
  docs/diagrams/meta/inseed-timeline.mmd.json
  docs/diagrams/meta/legend.mmd.json
Labels: docs

docs(diagrams): polish INVENTORY thumbnails + refresh absolute links [20251028T232431Z]
  docs/diagrams/ABSOLUTE_LINKS.json
Labels: docs

docs(diagrams): add Gallery callout to DIAGRAMS.md [20251028T232447Z]
  docs/DIAGRAMS.md
Labels: docs

docs(diagrams): inventory shows meta (title/caption/tags) + uniform thumbnails [20251028T232709Z]
  docs/diagrams/INVENTORY.md
Labels: docs

docs(diagrams): add Description column; seed backlog; rebuild inventory [20251028T233339Z]
  docs/diagrams/INVENTORY.md
  docs/diagrams/meta/academy__vital-signs.mmd.json
  docs/diagrams/meta/advice__advicebomb-lifecycle.mmd.json
  docs/diagrams/meta/architecture__coagent-4-panel.mmd.json
  docs/diagrams/meta/architecture__cosuite-high-level.mmd.json
  docs/diagrams/meta/audit__coaudit-flow.mmd.json
  docs/diagrams/meta/data__data-flows.mmd.json
  docs/diagrams/meta/governance__governance-container.mmd.json
  docs/diagrams/meta/identity__meritrank-reptag.mmd.json
  docs/diagrams/meta/metrics__metrics-index.mmd.json
  docs/diagrams/meta/pipelines__ci-diagrams-export.mmd.json
  docs/diagrams/meta/politic__copolitic-spectrum.mmd.json
  docs/diagrams/meta/repos__repo-map.mmd.json
  docs/diagrams/meta/security__threat-model.mmd.json
  docs/diagrams/meta/timeline__roadmap-milestones.mmd.json
  docs/diagrams/render/academy/vital-signs.mmd
  docs/diagrams/render/advice/advicebomb-lifecycle.mmd
  docs/diagrams/render/architecture/coagent-4-panel.mmd
  docs/diagrams/render/architecture/cosuite-high-level.mmd
  docs/diagrams/render/audit/coaudit-flow.mmd
  docs/diagrams/render/data/data-flows.mmd
  docs/diagrams/render/governance/governance-container.mmd
  docs/diagrams/render/identity/meritrank-reptag.mmd
  docs/diagrams/render/metrics/metrics-index.mmd
  docs/diagrams/render/pipelines/ci-diagrams-export.mmd
  docs/diagrams/render/politic/copolitic-spectrum.mmd
  docs/diagrams/render/repos/repo-map.mmd
  docs/diagrams/render/security/threat-model.mmd
  docs/diagrams/render/timeline/roadmap-milestones.mmd
Labels: docs

docs(diagrams): rebuild inventory with Status column [20251028T234945Z]
  docs/diagrams/INVENTORY.md
Labels: docs

docs: CoSync handoff — diagrams inventory/gallery [20251028T235019Z]
  docs/intent/advice/notes/20251028/CoSync_20251028T235016Z.md
Labels: docs

docs: CoSync handoff — fill status snapshot [20251028T235255Z]
  docs/intent/advice/notes/20251028/CoSync_20251028T235016Z.md
Labels: docs

docs: CoSync handoff — fill status snapshot on branch [20251028T235930Z]
  docs/intent/advice/notes/20251028/CoSync_20251028T235016Z.md
Labels: docs

docs(diagrams): fill missing captions + rebuild inventory [20251029T002811Z]
  docs/diagrams/INVENTORY.md
  docs/diagrams/meta/asset-graph.mmd.json
  docs/diagrams/meta/cosuite.asset-graph.mmd.json
  docs/diagrams/meta/inseed-timeline.mmd.json
  docs/diagrams/meta/legend.mmd.json
Labels: docs

docs(diagrams): cache-bust stamp on INVENTORY [20251029T003417Z]
  docs/diagrams/INVENTORY.md
Labels: docs

docs(diagrams): widen previews (keep section tables full width) + refresh stamp [20251029T003602Z]
  docs/diagrams/INVENTORY.md
Labels: docs

docs(diagrams): full-width HTML tables (colgroup %); deterministic rebuild [20251029T004750Z]
  docs/diagrams/INVENTORY.md
Labels: docs

docs(diagrams): full-width via fixed-size preview placeholder; deterministic rebuild [20251029T005821Z]
  docs/diagrams/INVENTORY.md
  docs/diagrams/assets/blank-1x1.png
Labels: docs

docs(diagrams): fix GH white-box issue — use DIV placeholders; force transparent preview bg [20251029T010438Z]
  docs/diagrams/INVENTORY.md
Labels: docs

docs(diagrams): lock full-width (fixed table layout + preview min-width) [20251029T011414Z]
  docs/diagrams/INVENTORY.md
Labels: docs
