Repository rickballard/CoCivium, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-only, ci, diagrams

.github/labeler.yml:

docs-only:
  - "docs/**"
  - "**/*.md"
  - "advice/**"
ci:
  - ".github/workflows/**"
diagrams:
  - "docs/diagrams/**"

docs(ai): establish single AI Front Door (human+gibberlinkish) + tiny AI-Receipt template
  .github/ISSUE_TEMPLATE/ai-receipt.yml
  README.md
  docs/ai/FRONT_DOOR.glx
  docs/ai/FRONT_DOOR.md
  docs/links/HIGHLIGHTS.md
Labels: docs-only

chore: trigger satellite (2025-11-03T06:13:08Z)
  .gib_touch
Labels: none

docs(ai): prefer .gibx (GIBindex eXchange), keep .glx compat; add AI dialogue inserts
  docs/ai/DIALOGUE.md
  docs/ai/FRONT_DOOR.gibx
  docs/ai/FRONT_DOOR.md
Labels: docs-only

docs(ai): add GIBX v0.1 mini-spec
  docs/ai/SPEC.md
Labels: docs-only

docs(ai): add JSON mirror for FRONT_DOOR.gibx
  docs/ai/FRONT_DOOR.json
Labels: docs-only

tools: add Test-Gibx.ps1
  tools/Test-Gibx.ps1
Labels: none

gibx: embed portable mini-spec + @schema/@spec + magic header
  docs/ai/FRONT_DOOR.gibx
Labels: docs-only

ci: gibx linter on PRs
  .github/workflows/gibx-lint.yml
Labels: ci

gibx: make FRONT_DOOR.gibx fully portable (header, @schema/@spec, capsule, directives)
  docs/ai/FRONT_DOOR.gibx
Labels: docs-only

gibx: add @ai-dialogue directive
  docs/ai/FRONT_DOOR.gibx
Labels: docs-only

ci: require @ai-dialogue in gibx
  tools/Test-Gibx.ps1
Labels: none

docs(ai): regenerate FRONT_DOOR.json from FRONT_DOOR.gibx
  docs/ai/FRONT_DOOR.json
Labels: docs-only

tools: add Compare-GibxJson (enforce GIBX⇄JSON directive parity)
  tools/Compare-GibxJson.ps1
Labels: none

ci: also run Compare-GibxJson in gibx-lint
  .github/workflows/gibx-lint.yml
Labels: ci

cosync: AI front door portable + world-issues harvest (20251103-064116Z)
  docs/intent/advice/notes/20251103/CoSync_20251103-064116Z.md
Labels: docs-only

docs: add planned stubs to satisfy Highlights nav and link check
  docs/positioning/hitchhiker-plan.md
  docs/positioning/mission.md
  docs/positioning/vision.md
  docs/products/coagent/README.md
  docs/products/coagent/RELEASES.md
Labels: docs-only

docs: add AI-FRONT-DOOR banner for agents
  README.md
Labels: docs-only

chore(sessions): add PLAN for ReadmeSuite
  docs/intent/sessions/20251103/Work/PLAN.md
Labels: docs-only

cosync: wrap 20251103-071604Z
  docs/intent/advice/notes/20251103/CoSync_20251103-071604Z.md
Labels: docs-only

docs(readme): add AI Front Door + CI badges
  README.md
Labels: docs-only

docs(readme): smoother Eli story + mission/CTA + dedupe norms/badges + map pointer
  README.md
Labels: docs-only

docs(sessions): mark intents done for ReadmeSuite
  docs/intent/sessions/20251103/Work/PLAN.md
Labels: docs-only

docs(readme): remove duplicate ‘what CoCivium is’ lines; keep single Highlights pointer
  README.md
Labels: docs-only

cosync: ReadmeSuite wrap (20251103-074114Z)
  docs/intent/advice/notes/20251103/CoSync_20251103-074114Z.md
Labels: docs-only

Session plan: ReadmeSuite — README smoothing & AI onramp coherence (#470)
  README.md
  docs/intent/advice/notes/20251103/CoSync_20251103-071604Z.md
  docs/intent/sessions/20251103/Work/PLAN.md
  docs/links/HIGHLIGHTS.md
Labels: docs-only

ci: readme guards honor bypass labels; add two AI-Receipt examples and link from DIALOGUE
  .github/workflows/readme-lock.yml
  docs/ai/DIALOGUE.md
Labels: docs-only, ci

cosync: README guard tune + AI-Receipts (20251103-080531Z)
  docs/intent/advice/notes/20251103/CoSync_20251103-080531Z.md
Labels: docs-only

docs(ai): add two AI-Receipt examples and link from DIALOGUE
  docs/ai/examples/receipt_bus_fix.md
  docs/ai/examples/receipt_refill_med.md
Labels: docs-only

CI tune (README guards) + two AI-Receipts (#471)
  .github/workflows/readme-lock.yml
  docs/ai/DIALOGUE.md
  docs/ai/examples/receipt_bus_fix.md
  docs/ai/examples/receipt_refill_med.md
  docs/intent/advice/notes/20251103/CoSync_20251103-080531Z.md
Labels: docs-only, ci

docs(ai): add two more AI-Receipt placeholders + link in DIALOGUE
  docs/ai/examples/receipt_shelter_capacity_ping.md
  docs/ai/examples/receipt_streetlight_fix.md
Labels: docs-only

docs(ai): add RECEIPTS_INDEX with table of examples
  docs/ai/RECEIPTS_INDEX.md
Labels: docs-only

docs(ai): link Receipts Index from DIALOGUE and README
  README.md
  docs/ai/DIALOGUE.md
Labels: docs-only

docs: CONTRIBUTING note on README guard bypass labels
  CONTRIBUTING.md
Labels: docs-only

cosync: Receipts Index + pointers (20251103-082202Z)
  docs/intent/advice/notes/20251103/CoSync_20251103-082202Z.md
Labels: docs-only

ci(readme-lock): clean guard logic & unreachable lines
  .github/workflows/readme-lock.yml
Labels: ci
