Repository rickballard/CoCivium, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, brand, hero, ops

BPOE: baseline .gitattributes (LF repo; CRLF for .bat/.cmd)
  .gitattributes
Labels: none

BPOE: document seed-mode merge + tag policy
  docs/BPOE/LESSONS.md
Labels: docs

BPOE: document seed-mode merge + tag policy
  docs/BPOE/LESSONS.md
Labels: docs

BPOE: add gh api wrapper (PS 5/7-safe)
  tools/gh-safe.ps1
Labels: ops

BPOE: add gh api wrapper (PS 5/7-safe)
  tools/gh-safe.ps1
Labels: ops

BPOE: baseline .gitattributes (LF repo; CRLF for .bat/.cmd)
  .gitattributes
Labels: none

BPOE: baseline .gitattributes (LF repo; CRLF for .bat/.cmd)
  .gitattributes
Labels: none

BPOE: document seed-mode merge + tag policy
  docs/BPOE/LESSONS.md
Labels: docs

BPOE: document seed-mode merge + tag policy
  docs/BPOE/LESSONS.md
Labels: docs

BPOE: add gh api wrapper (PS 5/7-safe)
  tools/gh-safe.ps1
Labels: ops

BPOE: add gh api wrapper (PS 5/7-safe)
  tools/gh-safe.ps1
Labels: ops

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

BPOE: extend .gitattributes (binary types + LF text set)
  .gitattributes
Labels: none

BPOE: extend .gitattributes (binary types + LF text set)
  .gitattributes
Labels: none

BPOE(CI): scope Guard to .gitattributes/validator changes
  .github/workflows/guard.yml
Labels: ci

BPOE(CI): scope Guard to .gitattributes/validator changes
  .github/workflows/guard.yml
Labels: ci

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

BPOE: add admin PR merge helper (squash + optional retag)
  tools/pr-admin-merge.ps1
Labels: ops

BPOE: add admin PR merge helper (squash + optional retag)
  tools/pr-admin-merge.ps1
Labels: ops

BPOE(CI): guard seed tags (annotated + on main)
  .github/workflows/seed-tag-guard.yml
Labels: ci

BPOE(CI): guard seed tags (annotated + on main)
  .github/workflows/seed-tag-guard.yml
Labels: ci

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

ignore local outreach scaffolding
  .gitignore
Labels: none

ignore local outreach scaffolding
  .gitignore
Labels: none

chore: normalize line endings
  .gitattributes
Labels: none

chore: normalize line endings
  .gitattributes
Labels: none

BPOE(policy): programmatic CoTemps-first mandate + heartbeat; instrument admin helpers
  docs/BPOE/LESSONS.md
  tools/bp-unprotect.ps1
  tools/heartbeat.ps1
  tools/pr-admin-merge.ps1
Labels: docs, ops

BPOE(policy): programmatic CoTemps-first mandate + heartbeat; instrument admin helpers
  docs/BPOE/LESSONS.md
  tools/bp-unprotect.ps1
  tools/heartbeat.ps1
  tools/pr-admin-merge.ps1
Labels: docs, ops

BPOE(runtime): StrictMode-safe heartbeat (no blank waits) + capture mandates
  docs/BPOE/LESSONS.md
Labels: docs

BPOE(runtime): StrictMode-safe heartbeat (no blank waits) + capture mandates
  docs/BPOE/LESSONS.md
Labels: docs

Partners: START-HERE + Koso links; add breadcrumb [20250912-0022]
  docs/status/breadcrumbs/2025-09-12_koso-outreach.md
  outreach/partners/Koso-Synergy-Report.md
  outreach/partners/START-HERE.md
Labels: docs

Partners: START-HERE + Koso links; add breadcrumb [20250912-0022] (#388)
  docs/status/breadcrumbs/2025-09-12_koso-outreach.md
  outreach/partners/Koso-Synergy-Report.md
  outreach/partners/START-HERE.md
Labels: docs

Partners: START-HERE + Koso links; add breadcrumb [20250912-0022] (#388)
  docs/status/breadcrumbs/2025-09-12_koso-outreach.md
  outreach/partners/Koso-Synergy-Report.md
  outreach/partners/START-HERE.md
Labels: docs

BPOE(runtime): heartbeat made dot-source-safe for StrictMode (no blank waits)
  docs/BPOE/LESSONS.md
Labels: docs

.github/labeler.yml:

# actions/labeler@v5 schema: each label maps to an ARRAY of rule objects.
# See: https://github.com/actions/labeler
docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md','docs/**','insights/**','stories/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

brand:
  - changed-files:
      - any-glob-to-any-file: ['brand/**','assets/brand/**']

hero:
  - changed-files:
      - any-glob-to-any-file: ['docs/onboarding/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['admin/**','tools/**']
