Repository rickballard/CoCivium, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, brand, hero, ops

.github/labeler.yml:

# actions/labeler@v5 schema: each label maps to an ARRAY of rule objects.
# See: https://github.com/actions/labeler
docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md','docs/**','insights/**','stories/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

brand:
  - changed-files:
      - any-glob-to-any-file: ['brand/**','assets/brand/**']

hero:
  - changed-files:
      - any-glob-to-any-file: ['docs/onboarding/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['admin/**','tools/**']

feat(checklists): repo-local checklists + Megascroll indexer (no here-strings); seed Diagrams
  .cosync.ok
  CoTheoryMount/insights/theory/README.md
  CoTheoryMount/meta/COSYNC_HANDOFF_CoPrime.txt
  CoTheoryMount/scripts/assemble_scroll.ps1
  docs/checklists/Diagrams.md
  docs/checklists/INDEX.json
  docs/checklists/MEGASCROLL.md
  docs/diagrams/tools/json2d2.py
  docs/diagrams/tools/json2mermaid.py
  docs/staging/CoTheoryMounted/insights/theory/README.md
  docs/staging/CoTheoryMounted/meta/COSYNC_HANDOFF_CoPrime.txt
  docs/staging/CoTheoryMounted/scripts/assemble_scroll.ps1
  scripts/CoSync.ps1
  site/hero/data.json
  tools/checklists/New-Checklist.ps1
  tools/checklists/Scan-Checklists.ps1
Labels: docs, ops

ci: enforce backlinks + checklists megascroll freshness
  .github/workflows/checklists-index.yml
  .github/workflows/links-backlinks.yml
Labels: ci

docs(checklists): populate Diagrams tasks
  docs/checklists/Diagrams.md
Labels: docs

feat(diagrams): seed canonical JSON + Mermaid proofs (JSON is canonical; renders are mechanical)
  docs/diagrams/examples/coflow.pipeline.json
  docs/diagrams/examples/cosuite.asset-graph.json
  docs/diagrams/examples/governance.guardrails.json
  docs/diagrams/examples/identity.stack.json
  docs/diagrams/examples/repos.role-map.json
  docs/diagrams/render/coflow.pipeline.mmd
  docs/diagrams/render/cosuite.asset-graph.mmd
  docs/diagrams/render/governance.guardrails.mmd
  docs/diagrams/render/identity.stack.mmd
  docs/diagrams/render/repos.role-map.mmd
Labels: docs

docs: add BPOE seed rules + CONTRIBUTING-light; baseline yamllint and codespell wordlist
  .codespell.words
  .yamllint
  docs/BPOE_SEED_RULES.md
  docs/CONTRIBUTING-light.md
Labels: docs

feat(checklists): local checklists + Megascroll (#421)
  .cosync.ok
  .github/workflows/checklists-index.yml
  .github/workflows/links-backlinks.yml
  CoTheoryMount/insights/theory/README.md
  CoTheoryMount/meta/COSYNC_HANDOFF_CoPrime.txt
  CoTheoryMount/scripts/assemble_scroll.ps1
  docs/DIAGRAMS.md
  docs/checklists/Diagrams.md
  docs/checklists/INDEX.json
  docs/checklists/MEGASCROLL.md
  docs/diagrams/examples/cosuite.asset-graph.json
  docs/diagrams/render/asset-graph.d2
  docs/diagrams/render/asset-graph.mmd
  docs/diagrams/schemas/diagram.schema.json
  docs/diagrams/tools/json2d2.py
  docs/diagrams/tools/json2mermaid.py
  docs/lexicon/GIBindex.md
  docs/links/BACKLINKS.md
  docs/links/backlinks.json
  docs/staging/CoTheoryMounted/insights/theory/README.md
  docs/staging/CoTheoryMounted/meta/COSYNC_HANDOFF_CoPrime.txt
  docs/staging/CoTheoryMounted/scripts/assemble_scroll.ps1
  scripts/CoSync.ps1
  site/hero/data.json
  tools/checklists/New-Checklist.ps1
  tools/checklists/Scan-Checklists.ps1
  tools/links/Scan-Backlinks.ps1
Labels: docs, ci, ops

docs(cc): add single-file CC Scroll (assembled from canonical parts) (#336)
  docs/cc/SCROLL.md
Labels: docs

pages: add workflow_dispatch; nudge deploy (#415)
  site-human/index.html
Labels: none

CoRef indexing scaffold + HH alignment (Advice Bomb, tools, Insights) (#416)
  insights/Congruence/FaithsInDialogue/faiths-in-dialogue.coref.json
  insights/Congruence/FaithsInDialogue/faiths-in-dialogue.md
  insights/Congruence/congruence-doctrine.md
  insights/Indexing/HH_alignment.md
  insights/Indexing/concept_registry.coref.json
  insights/Indexing/standards/filenames.md
  tools/CoRef/ps/Generate-CoRef.ps1
  tools/CoRef/py/gen_coref.py
Labels: docs, ops

docs: seed CC v0.1 (canon/cc/bpoe/do) [idempotent] (#417)
  .canon.CoCivium_Principles_v0.1.md
  .cc.CC_Megascroll_Seed_v0.1.md
  BPOE_Wisdom_Snippets.md
  _Filename_Conventions.md
  _overlap_scan.txt
  docs/.do/DO-CC-Seed.md
  docs/.do/DO-Canon-Change.md
  docs/.do/DO-Rest-Policy.md
Labels: docs

docs(diagrams): add DIAGRAMS.md Mermaid proofs and ensure cosuite.asset-graph.json present
  docs/DIAGRAMS.md
Labels: docs

feat(diagrams): add canonical cosuite.asset-graph.json (JSON is canonical)
  docs/diagrams/examples/cosuite.asset-graph.json
Labels: docs

CoCivia launch-prep v1.0: press, schemas, procurement, vendor ratings, policy maps, CI
  docs/DIAGRAMS_paste-these.mmd
  docs/diagrams/schemas/graph.schema.json
Labels: docs

docs: CoSync note for CoCivia launch-prep v1.0 (20251028_032720Z)
  docs/intent/advice/notes/20251028/CoSync_20251028_032720Z.md
Labels: docs

diagrams: establish canonical path, schema stub, DIAGRAMS.md, PS wrappers
  docs/DIAGRAMS.md
  docs/diagrams/schemas/graph.schema.json
  docs/diagrams/tools/JsonToD2.ps1
  docs/diagrams/tools/JsonToMermaid.ps1
Labels: docs

feat(diagrams): add P2/P3 stubs; re-render Mermaid; rebuild docs/DIAGRAMS.md (JSON is canonical)
  docs/DIAGRAMS.md
  docs/diagrams/examples/advicebomb.lifecycle.json
  docs/diagrams/examples/coflow.pipeline.json
  docs/diagrams/examples/dataflow.security.json
  docs/diagrams/examples/evolution.roadmap.json
  docs/diagrams/examples/finflow.overview.json
  docs/diagrams/examples/governance.guardrails.json
  docs/diagrams/examples/identity.stack.json
  docs/diagrams/examples/outreach.influence.json
  docs/diagrams/examples/repos.role-map.json
Labels: docs

docs(diagrams): placeholder render so CI is green; JSON remains canonical
  .codespell.words
  docs/DIAGRAMS.md
  docs/diagrams/examples/minimal.json
Labels: docs

chore(diagrams): fix render func; re-render all Mermaid; rebuild docs/DIAGRAMS.md (JSON canonical)
  docs/DIAGRAMS.md
  docs/diagrams/render/cosuite.asset-graph.mmd
Labels: docs

docs(diagrams): correct fenced blocks; placeholder renders (JSON remains canonical)
  docs/DIAGRAMS.md
  docs/diagrams/examples/minimal.json
Labels: docs

ci: codespell dictionary + normalize YAML whitespace
  .codespell.words
Labels: none

cocivia: add example receipt + impact annex
  docs/intent/cocivia/registry/examples/impact-annex.json
  docs/intent/cocivia/registry/examples/receipt.json
Labels: docs

chore: normalize PR template
  .github/pull_request_template.md
Labels: docs, ci

chore: CODEOWNERS — make Diagrams clearly owned
  .github/CODEOWNERS
Labels: ci

ci: expand codespell dictionary
  .codespell.words
Labels: none

docs(diagrams): placeholder fenced blocks (JSON remains canonical)
  docs/DIAGRAMS.md
Labels: docs

meta: CODEOWNERS for diagrams paths
  .github/CODEOWNERS
Labels: ci

docs(diagrams): correct fences and add separate D2 section (JSON remains canonical)
  docs/DIAGRAMS.md
Labels: docs

chore(ownership): CODEOWNERS for diagrams paths
  .github/CODEOWNERS
Labels: ci

handoff(diagrams): note for Diagrams session (what changed, what to watch)
  docs/diagrams/HANDOFF_FROM_RepoHygiene.md
Labels: docs

docs(diagrams): correct fences; merge JSON into single Mermaid; refresh DIAGRAMS.md (JSON canonical)
  docs/DIAGRAMS.md
  docs/diagrams/examples/cosuite.asset-graph.json
  docs/diagrams/examples/minimal.json
  docs/diagrams/render/asset-graph.mmd
Labels: docs

docs(diagrams): fix fenced blocks; rebuild Mermaid from JSON (JSON remains canonical)
  docs/DIAGRAMS.md
Labels: docs

handoff(diagrams): CoSync pack + status/checklist + pointers (JSON canonical)
  handoff/diagrams-session/CHECKLIST.md
  handoff/diagrams-session/POINTERS.txt
  handoff/diagrams-session/SESSION_STATUS.md
  handoff/diagrams-session/SYNC_OK.txt
Labels: docs

ci(diagrams): add builder + workflow; enforce JSON→Mermaid fence (JSON canonical)
  .github/workflows/diagrams.yml
  docs/diagrams/tools/build-diagrams.ps1
Labels: docs, ci

ci(diagrams): fix builder fences + workflow; enforce JSON→Mermaid; add D2 placeholder
  docs/diagrams/tools/build-diagrams.ps1
Labels: docs

diagrams: clean builder + hardened workflow (single-quoted; deterministic) [20251028T061350Z]
  .github/workflows/diagrams.yml
  docs/diagrams/tools/build-diagrams.clean.ps1
Labels: docs, ci

diagrams: builder robust rel-handling + label escaping [20251028T062323Z]
  docs/DIAGRAMS.md
  docs/diagrams/render/asset-graph.mmd
  docs/diagrams/tools/build-diagrams.clean.ps1
Labels: docs

diagrams: add non-fatal schema lint [20251028T062655Z]
  docs/diagrams/tools/build-diagrams.clean.ps1
  docs/intent/advice/notes/20251028/CoSync_20251028T062552Z.md
Labels: docs

ci(diagrams): normalize uses slashes + upload artifacts [20251028T065302Z]
  .github/workflows/diagrams.yml
Labels: ci

ci(diagrams): normalize uses + reinsert single artifact steps + add permissions [20251028T142443Z]
  .github/workflows/diagrams.yml
Labels: ci

ci(diagrams): normalize uses + single artifact steps + add permissions [20251028T142932Z]
  .github/workflows/diagrams.yml
Labels: ci
