Repository rickballard/CoCivium, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, brand, hero, ops

docs(diagrams): enforce full-width with wrapper min-width + inline SVG spacers [20251029T011816Z]
  docs/diagrams/INVENTORY.md
Labels: docs

docs(diagrams): add Pages gallery + generator + CI [20251029T012356Z]
  .github/workflows/diagrams-gallery.yml
  docs/DIAGRAMS.md
  docs/diagrams/index.html
  docs/diagrams/style.css
  tools/Build-DiagramGallery.ps1
Labels: docs, ci, ops

docs: CoSync note for diagrams gallery [20251029T012356Z]
  docs/intent/advice/notes/20251028/CoSync_20251029T012356Z.md
Labels: docs

docs: CoSync note (gallery PR & Pages steps) [20251029T012707Z]
  docs/intent/advice/notes/20251028/CoSync_20251029T012707Z.md
Labels: docs

docs: CoSync note — sections label fix + gallery PR status [20251029T012911Z]
  docs/diagrams/INVENTORY.md
  docs/intent/advice/notes/20251028/CoSync_20251029T012911Z.md
Labels: docs

docs: live Diagrams gallery (Pages) [20251029T012707Z] (#428)
  .github/workflows/diagrams-gallery.yml
  docs/DIAGRAMS.md
  docs/diagrams/index.html
  docs/diagrams/style.css
  docs/intent/advice/notes/20251028/CoSync_20251029T012356Z.md
  docs/intent/advice/notes/20251028/CoSync_20251029T012707Z.md
  tools/Build-DiagramGallery.ps1
Labels: docs, ci, ops

diagrams: normalize Mermaid files (diagram type first for GitHub preview) [20251029T013601Z]
  docs/diagrams/render/academy/vital-signs.mmd
  docs/diagrams/render/advice/advicebomb-lifecycle.mmd
  docs/diagrams/render/architecture/coagent-4-panel.mmd
  docs/diagrams/render/architecture/cosuite-high-level.mmd
  docs/diagrams/render/asset-graph.mmd
  docs/diagrams/render/audit/coaudit-flow.mmd
  docs/diagrams/render/cosuite.asset-graph.mmd
  docs/diagrams/render/data/data-flows.mmd
  docs/diagrams/render/governance/governance-container.mmd
  docs/diagrams/render/identity/meritrank-reptag.mmd
  docs/diagrams/render/inseed-timeline.mmd
  docs/diagrams/render/metrics/metrics-index.mmd
  docs/diagrams/render/pipelines/ci-diagrams-export.mmd
  docs/diagrams/render/politic/copolitic-spectrum.mmd
  docs/diagrams/render/repos/repo-map.mmd
  docs/diagrams/render/security/threat-model.mmd
  docs/diagrams/render/timeline/roadmap-milestones.mmd
Labels: docs

ci(diagrams): switch to mermaid-cli (SVG-only); upgrade legend; rebuild gallery
  .github/workflows/diagrams-export.yml
  docs/diagrams/meta/legend.mmd.json
  docs/diagrams/render/legend.mmd
  tools/Export-Diagrams.ps1
Labels: docs, ci, ops

docs(diagrams): add breadcrumbs (Gallery · Inventory · This page) [20251029T015333Z]
  docs/DIAGRAMS.md
  docs/diagrams/INVENTORY.md
Labels: docs

docs(diagrams): note CoResources public path [20251029T015835Z]
  docs/DIAGRAMS.md
Labels: docs

docs: add CoResources alias for diagrams (redirect to /docs/diagrams/)
  docs/coresources/diagrams/index.html
Labels: docs

docs(diagrams): add sticky ↑ Inventory link to gallery
  docs/diagrams/index.html
Labels: docs

docs: CoSync note — diagrams nav finalization [20251029T023049Z]
  docs/intent/advice/notes/20251028/CoSync_20251029T023049Z.md
Labels: docs

docs(pages): add CNAME for cocivium.org
  docs/CNAME
Labels: docs

docs: CoSync note — diagrams/CoResources/Pages [20251029T042155Z]
  docs/intent/advice/notes/20251029/CoSync_20251029T042155Z.md
Labels: docs

docs: add CoResources alias for diagrams (redirect)
  docs/coresources/diagrams/index.html
Labels: docs

docs(pages): add CNAME for cocivium.org
  docs/CNAME
Labels: docs

docs: CoSync note — diagrams/CoResources/Pages [20251029T042155Z] (#432)
  docs/intent/advice/notes/20251029/CoSync_20251029T042155Z.md
Labels: docs

docs: CoSync note — Graphics Inventory + manifest
  docs/intent/advice/notes/20251029/CoSync_20251029T184557Z.md
Labels: docs

docs: CoSync note — Graphics Inventory + manifest
  docs/intent/advice/notes/20251029/CoSync_20251029T184606Z.md
Labels: docs

docs: smoke report + CoSync note (Diagrams Vitals & Evo)
  docs/intent/advice/notes/20251029/CoSync_DiagramsVitalsEvo_20251029T184811Z.md
  docs/intent/advice/notes/20251029/Smoke_GraphicsInventory_20251029T184746Z.md
Labels: docs

graphics: normalize Inventory title + ensure Render Targets; add scan artifacts
  docs/diagrams/INVENTORY.md
  docs/diagrams/vitals/_scan/GRAPHICS_MANIFEST.csv
  docs/diagrams/vitals/_scan/GRAPHICS_MANIFEST.json
  docs/diagrams/vitals/_scan/LINK_REWRITE_MAP.csv
  docs/diagrams/vitals/_scan/XREF_REPORT.csv
Labels: docs

docs: CoSync handover — Diagrams Vitals & Evo → CoPrime20251028
  docs/intent/advice/notes/20251029/CoSync_DiagramsVitalsEvo_20251029T191644Z.md
Labels: docs

graphics: add global 'Render Targets (envisioned)' backlog
  docs/diagrams/INVENTORY.md
Labels: docs

docs: tidy PR template; add earlier CoSync receipt
  .github/pull_request_template.md
  docs/intent/advice/notes/20251028/CoSync_20251029T022245Z.md
Labels: docs, ci

graphics: Inventory normalize + stubs; scan artifacts (#436)
  docs/diagrams/INVENTORY.md
  docs/diagrams/vitals/_scan/GRAPHICS_MANIFEST.csv
  docs/diagrams/vitals/_scan/GRAPHICS_MANIFEST.json
  docs/diagrams/vitals/_scan/LINK_REWRITE_MAP.csv
  docs/diagrams/vitals/_scan/XREF_REPORT.csv
Labels: docs

reconcile with main (resolve PR #437 conflicts)
  .github/pull_request_template.md
Labels: docs, ci

chore: normalize PR template filename to lowercase
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pull_request_template.md
Labels: docs, ci

chore: restore canonical lowercase PR template
  .github/pull_request_template.md
Labels: docs, ci

docs: CoSync — Diagrams Vitals & Evo → CoPrime20251028 (#437)
  docs/diagrams/INVENTORY.md
  docs/intent/advice/notes/20251028/CoSync_20251029T022245Z.md
  docs/intent/advice/notes/20251029/CoSync_DiagramsVitalsEvo_20251029T191644Z.md
Labels: docs

chore: normalize PR template filename to lowercase (#438)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pull_request_template.md
Labels: docs, ci

docs: CoSync — VIOLET companion pointers + inbox tail
  docs/intent/advice/notes/20251029/CoSync_VIOLET_Companion_20251029T200036Z.md
Labels: docs

docs: CoSync — VIOLET companion pointers + inbox tail (#439)
  docs/intent/advice/notes/20251029/CoSync_VIOLET_Companion_20251029T200036Z.md
Labels: docs

.github/labeler.yml:

# actions/labeler@v5 schema: each label maps to an ARRAY of rule objects.
# See: https://github.com/actions/labeler
docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md','docs/**','insights/**','stories/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

brand:
  - changed-files:
      - any-glob-to-any-file: ['brand/**','assets/brand/**']

hero:
  - changed-files:
      - any-glob-to-any-file: ['docs/onboarding/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['admin/**','tools/**']
