Repository rickballard/CoCivium, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, brand, hero, ops

.github/labeler.yml:

# actions/labeler@v5 schema: each label maps to an ARRAY of rule objects.
# See: https://github.com/actions/labeler
docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md','docs/**','insights/**','stories/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

brand:
  - changed-files:
      - any-glob-to-any-file: ['brand/**','assets/brand/**']

hero:
  - changed-files:
      - any-glob-to-any-file: ['docs/onboarding/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['admin/**','tools/**']

chore(scripts): add CoPingHeartbeat + CoBloatWatch (session observability) (#358)
  scripts/CoBloatWatch.ps1
  scripts/CoPingHeartbeat.ps1
Labels: none

docs(insights): log implementations derived from IdeaCard ‘Oddnotes’ (#359)
  insights/IdeaCard_Oddnotes_20250905.md
Labels: docs

docs(insights): log implementations derived from IdeaCard ‘Oddnotes’ (#359)
  insights/IdeaCard_Oddnotes_20250905.md
Labels: docs

docs(idea-cards): add README and import IdeaCard ODTs (provenance)
  admin/idea_cards/README.md
Labels: docs, ops

docs(outreach): lint-safe Mentions text; ignore 'CoCivium' in codespell
  .codespellignore
  outreach/CoCivium_Mentions_Paste1.md
  outreach/CoCivium_Mentions_Paste2.md
Labels: docs

BPOE: add no in-shell kill + DO block policy + OE Status cadence
  docs/BPOE.md
Labels: docs

BPOE: add 'always capture on-repo' rule + post-fix checklist
  docs/BPOE.md
Labels: docs

BPOE: add 'always capture on-repo' rule + post-fix checklist
  docs/BPOE.md
Labels: docs

tools: add Start-CoCiviumWorkbench launcher (prints OE Status on launch)
  scripts/workbench/Start-CoCiviumWorkbench.ps1
Labels: none

tools(workbench): robust launcher (no parent interpolation; placeholder + base64)
  scripts/workbench/Start-CoCiviumWorkbench.ps1
Labels: none

tools(workbench): split inner script; no here-strings; prompt-driven OE; no popups
  scripts/workbench/Start-CoCiviumWorkbench.ps1
  scripts/workbench/Workbench-Inner.ps1
Labels: none

BPOE: document clean workbench launcher + prompt-driven OE
  docs/BPOE.md
Labels: docs

docs: add Workbench quick-start & troubleshooting
  README.md
Labels: docs

docs: add Workbench Preflight and explain prompt-driven OE
  README.md
  docs/BPOE.md
Labels: docs

docs: add canonical Core Assumption letter (founding artifact)
  docs/philosophy/Core_Assumption.md
Labels: docs

docs: add Core Assumption companion explainer (Layer-0→CC hooks)
  docs/philosophy/Core_Assumption_Explained.md
Labels: docs

docs(CC): add link to Core Assumption as Layer-0 anchor
  docs/cc/README.md
Labels: docs

docs: Canonical Core Assumption (founding artifact) (#363)
  .codespellignore
  README.md
  docs/BPOE.md
  docs/cc/README.md
  docs/philosophy/Core_Assumption.md
  docs/philosophy/Core_Assumption_Explained.md
  outreach/CoCivium_Mentions_Paste1.md
  outreach/CoCivium_Mentions_Paste2.md
  scripts/workbench/Start-CoCiviumWorkbench.ps1
  scripts/workbench/Workbench-Inner.ps1
Labels: docs

docs: Canonical Core Assumption (founding artifact) (#363)
  .codespellignore
  README.md
  docs/BPOE.md
  docs/cc/README.md
  docs/philosophy/Core_Assumption.md
  docs/philosophy/Core_Assumption_Explained.md
  outreach/CoCivium_Mentions_Paste1.md
  outreach/CoCivium_Mentions_Paste2.md
  scripts/workbench/Start-CoCiviumWorkbench.ps1
  scripts/workbench/Workbench-Inner.ps1
Labels: docs

docs(CC): add PREAMBLE anchored to Core Assumption and banner it from CC index
  docs/cc/PREAMBLE.md
  docs/cc/README.md
Labels: docs

docs(CC): add PREAMBLE anchored to Core Assumption and banner it from CC index (#364)
  docs/cc/PREAMBLE.md
  docs/cc/README.md
Labels: docs

docs(CC): add PREAMBLE anchored to Core Assumption and banner it from CC index (#364)
  docs/cc/PREAMBLE.md
  docs/cc/README.md
Labels: docs

docs(CC): expand Articles 3–5 (Guardrails; Consent; Dispute Resolution) anchored to PREAMBLE
  docs/cc/03_Guardrails.md
  docs/cc/04_Consent_Protocols.md
  docs/cc/05_Dispute_Resolution.md
Labels: docs

docs(insights): add 4 IdeaCard placeholders (seed for triage)
  insights/IdeaCard_Placeholder1_20250908_0127.md
  insights/IdeaCard_Placeholder2_20250908_0127.md
  insights/IdeaCard_Placeholder3_20250908_0127.md
  insights/IdeaCard_Placeholder4_20250908_0127.md
Labels: docs

docs(insights): add IdeaCards (CoAnchor/CoJanus; CoStasis; 3-Panel+CoCache; Being Rights)
  insights/IdeaCard_3Panel_CoCache_Heartbeat.md
  insights/IdeaCard_Being_Rights.md
  insights/IdeaCard_CoAnchor_And_CoJanus.md
  insights/IdeaCard_CoStasis_AllSmokes.md
Labels: docs

docs(CC): expand Articles 3–5 (Guardrails; Consent; Dispute Resolution) anchored to PREAMBLE (#366)
  docs/cc/03_Guardrails.md
  docs/cc/04_Consent_Protocols.md
  docs/cc/05_Dispute_Resolution.md
Labels: docs

docs(CC): expand Articles 3–5 (Guardrails; Consent; Dispute Resolution) anchored to PREAMBLE (#366)
  docs/cc/03_Guardrails.md
  docs/cc/04_Consent_Protocols.md
  docs/cc/05_Dispute_Resolution.md
Labels: docs

docs(insights): seed 4 IdeaCards (placeholders) (#367)
  insights/IdeaCard_Placeholder1_20250908_0127.md
  insights/IdeaCard_Placeholder2_20250908_0127.md
  insights/IdeaCard_Placeholder3_20250908_0127.md
  insights/IdeaCard_Placeholder4_20250908_0127.md
Labels: docs

docs(insights): seed 4 IdeaCards (placeholders) (#367)
  insights/IdeaCard_Placeholder1_20250908_0127.md
  insights/IdeaCard_Placeholder2_20250908_0127.md
  insights/IdeaCard_Placeholder3_20250908_0127.md
  insights/IdeaCard_Placeholder4_20250908_0127.md
Labels: docs

migration: import Session_2025-09-08_0133 bundle (sha256 4CC25E79)
  MIGRATION/bundles/Session_2025-09-08_0133_FINAL.sha256
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/00_INDEX.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/06_Sandboxing_and_Interop.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/07_Auditability_and_Verification.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/08_Evolution_and_Amendments.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/Core_Assumption.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/Core_Assumption_Explained.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_3Panel_CoCache_Heartbeat.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_Being_Rights.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_CoAnchor_And_CoJanus.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_CoStasis_AllSmokes.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_Oddnotes_20250905.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/PREAMBLE.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/SESSION_SUMMARY.md
Labels: docs

migration: add STATUS.md with release + BPOE + next steps
  MIGRATION/STATUS.md
Labels: docs

migration: add STATUS.md with release + BPOE + next steps
  MIGRATION/STATUS.md
Labels: docs

docs(CC): scaffold articles 1–8 with minimal stubs anchored to PREAMBLE
  docs/cc/00_INDEX.md
  docs/cc/01_Principles.md
  docs/cc/02_Rights_and_Symmetry.md
  docs/cc/06_Sandboxing_and_Interop.md
  docs/cc/07_Auditability_and_Verification.md
  docs/cc/08_Evolution_and_Amendments.md
  docs/cc/README.md
  scripts/do/Convert-TranscriptToScript.ps1
  scripts/do/Lint-Blocks.ps1
Labels: docs

docs(CC): scaffold articles 1–8 with minimal stubs anchored to PREAMBLE
  docs/cc/00_INDEX.md
  docs/cc/01_Principles.md
  docs/cc/02_Rights_and_Symmetry.md
  docs/cc/06_Sandboxing_and_Interop.md
  docs/cc/07_Auditability_and_Verification.md
  docs/cc/08_Evolution_and_Amendments.md
  docs/cc/README.md
  scripts/do/Convert-TranscriptToScript.ps1
  scripts/do/Lint-Blocks.ps1
Labels: docs

docs(insights): add IdeaCards (CoAnchor/CoJanus; CoStasis; 3-Panel+CoCache; Being Rights)
  insights/IdeaCard_3Panel_CoCache_Heartbeat.md
  insights/IdeaCard_Being_Rights.md
  insights/IdeaCard_CoAnchor_And_CoJanus.md
  insights/IdeaCard_CoStasis_AllSmokes.md
Labels: docs

docs(insights): add IdeaCards (CoAnchor/CoJanus; CoStasis; 3-Panel+CoCache; Being Rights)
  insights/IdeaCard_3Panel_CoCache_Heartbeat.md
  insights/IdeaCard_Being_Rights.md
  insights/IdeaCard_CoAnchor_And_CoJanus.md
  insights/IdeaCard_CoStasis_AllSmokes.md
Labels: docs

migration: import Session_2025-09-08_0133 bundle (sha256 4CC25E79)
  MIGRATION/bundles/Session_2025-09-08_0133_FINAL.sha256
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/00_INDEX.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/06_Sandboxing_and_Interop.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/07_Auditability_and_Verification.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/08_Evolution_and_Amendments.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/Core_Assumption.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/Core_Assumption_Explained.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_3Panel_CoCache_Heartbeat.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_Being_Rights.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_CoAnchor_And_CoJanus.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_CoStasis_AllSmokes.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_Oddnotes_20250905.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/PREAMBLE.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/SESSION_SUMMARY.md
Labels: docs

migration: import Session_2025-09-08_0133 bundle (sha256 4CC25E79)
  MIGRATION/bundles/Session_2025-09-08_0133_FINAL.sha256
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/00_INDEX.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/06_Sandboxing_and_Interop.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/07_Auditability_and_Verification.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/08_Evolution_and_Amendments.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/Core_Assumption.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/Core_Assumption_Explained.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_3Panel_CoCache_Heartbeat.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_Being_Rights.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_CoAnchor_And_CoJanus.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_CoStasis_AllSmokes.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/IdeaCard_Oddnotes_20250905.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/PREAMBLE.md
  MIGRATION/imports/Session_2025-09-08_0133_FINAL/SESSION_SUMMARY.md
Labels: docs

bpoe: document rebase pattern (keep canonicals from main; accept net-new only)
  admin/bpoe/rebase-stub-vs-canonical.md
Labels: docs, ops

bpoe: document rebase pattern (keep canonicals from main; accept net-new only)
  admin/bpoe/rebase-stub-vs-canonical.md
Labels: docs, ops
