Repository rickballard/CoCivium, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, brand, hero, ops

.github/labeler.yml:

# actions/labeler@v5 schema: each label maps to an ARRAY of rule objects.
# See: https://github.com/actions/labeler
docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md','docs/**','insights/**','stories/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

brand:
  - changed-files:
      - any-glob-to-any-file: ['brand/**','assets/brand/**']

hero:
  - changed-files:
      - any-glob-to-any-file: ['docs/onboarding/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['admin/**','tools/**']

ci: labeler smoke test (touch advice folder)
  grand-migration-advice/SMOKETEST.txt
Labels: none

CI: auto-label grand-migration-advice/** + CODEOWNERS route (#396)
  .github/CODEOWNERS
  .github/workflows/label-grand-migration.yml
Labels: ci

CI: auto-label grand-migration-advice/** + CODEOWNERS route (#396)
  .github/CODEOWNERS
  .github/workflows/label-grand-migration.yml
Labels: ci

ci: labeler smoke test (touch advice folder) (#397)
  grand-migration-advice/SMOKETEST.txt
Labels: none

ci: labeler smoke test (touch advice folder) (#397)
  grand-migration-advice/SMOKETEST.txt
Labels: none

ci: remove labeler smoke test artifact
  grand-migration-advice/SMOKETEST.txt
Labels: none

ci: remove labeler smoke test artifact
  grand-migration-advice/SMOKETEST.txt
Labels: none

outreach: wave 0 leads + playbook (v0.2)
  outreach/projects/outreach-stage-seed/CoCivium_outreach_leads_v0.2.csv
  outreach/projects/outreach-stage-seed/README.md
Labels: docs

tools: add Ensure-Block.ps1 (idempotent doc block writer)
  tools/Ensure-Block.ps1
Labels: ops

BPOE: ensure block 'gh-pr-merge noninteractive v1' in docs/status/BPOE.md
  docs/status/BPOE.md
Labels: docs

bpoe: answer-first laws; outreach generator; wave0 artifacts + .gitignore hardening
  .gitignore
  docs/advisory/BPOE/bpoe-checklist.md
  docs/advisory/BPOE/bpoe-laws.md
  tools/gen-outreach-wave0.ps1
Labels: docs, ops

outreach: fix apostrophes; pwsh bounce; generate wave0 artifacts
  tools/gen-outreach-wave0.ps1
Labels: ops

outreach: replace generator with pwsh-safe version; generate wave0 artifacts
  tools/gen-outreach-wave0.ps1
Labels: ops

outreach: header-order fix (param first), run generator, commit wave0 artifacts
  tools/gen-outreach-wave0.ps1
Labels: ops

outreach: generate wave-0 artifacts from CSV (BPOE autopipeline)
  outreach/projects/outreach-stage-seed/CoCivium_outreach_leads_v0.2.csv
  outreach/projects/outreach-stage-seed/templates/wave0_first_lines_v0.2.md
Labels: docs

outreach: pin generated emails zip (BPOE)
  outreach/projects/outreach-stage-seed/templates/outreach_emails_wave0_top6.zip
Labels: none

gitignore: allow outreach emails zip
  .gitignore
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

outreach: add plain-text email drafts (top6) extracted from zip
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/Bertrand de La Chapelle — Internet & Jurisdiction Policy Network.txt
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/Daphne Keller — Stanford Internet Observatory – Program .txt
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/David Kaye — UC Irvine Law; former UN Special Rapport.txt
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/Edoardo Celeste — Dublin City University.txt
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/Evelyn Douek — Stanford Law School.txt
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/Kate Klonick — St. John’s University School of Law.txt
Labels: none

bpoe: ship Answer-First guard script
  tools/Test-BPOEAnswerFirst.ps1
Labels: ops

outreach: normalize email draft filenames to ASCII-safe
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/Bertrand de La Chapelle - Internet & Jurisdiction Policy Network.txt
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/Daphne Keller - Stanford Internet Observatory - Program .txt
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/David Kaye - UC Irvine Law; former UN Special Rapport.txt
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/Edoardo Celeste - Dublin City University.txt
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/Evelyn Douek - Stanford Law School.txt
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/Kate Klonick - St. John-s University School of Law.txt
Labels: none

outreach: generator emits ASCII-safe filenames; refresh drafts
  tools/gen-outreach-wave0.ps1
Labels: ops

outreach: bake ASCII-safe filenames into generator; refresh artifacts
  outreach/projects/outreach-stage-seed/templates/outreach_emails_wave0_top6.zip
  tools/gen-outreach-wave0.ps1
Labels: ops

chore(gitattributes): enforce LF for docs/**/*.md
  .gitattributes
Labels: none

chore(gitattributes): enforce LF for docs/**/*.md
  .gitattributes
Labels: none

chore(gitattributes): enforce LF for docs/**/*.md
  .gitattributes
Labels: none

chore(gitattributes): enforce LF for docs/**/*.md
  .gitattributes
Labels: none

docs: seed scaffolds
  docs/index/ADVICE-INDEX.md
  docs/index/README.md
  docs/index/TODO-INDEX.md
  docs/mission/Mission.md
  docs/plan/MasterPlan.md
  docs/status/HEALTH.md
  docs/vision/Vision.md
Labels: docs

docs: seed scaffolds
  docs/index/ADVICE-INDEX.md
  docs/index/README.md
  docs/index/TODO-INDEX.md
  docs/mission/Mission.md
  docs/plan/MasterPlan.md
  docs/status/HEALTH.md
  docs/vision/Vision.md
Labels: docs

docs: seed scaffolds
  docs/index/README.md
  docs/mission/Mission.md
  docs/plan/MasterPlan.md
  docs/status/HEALTH.md
  docs/vision/Vision.md
Labels: docs

docs: seed scaffolds
  docs/index/ADVICE-INDEX.md
  docs/index/README.md
  docs/index/TODO-INDEX.md
  docs/mission/Mission.md
  docs/plan/MasterPlan.md
  docs/status/HEALTH.md
  docs/vision/Vision.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

BPOE: answer-first laws + outreach wave0 artifacts (#399)
  .gitattributes
  .gitignore
  docs/advisory/BPOE/bpoe-checklist.md
  docs/advisory/BPOE/bpoe-laws.md
  docs/index/README.md
  docs/mission/Mission.md
  docs/plan/MasterPlan.md
  docs/status/BPOE.md
  docs/status/HEALTH.md
  docs/vision/Vision.md
  outreach/projects/outreach-stage-seed/CoCivium_outreach_leads_v0.2.csv
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/Bertrand de La Chapelle - Internet & Jurisdiction Policy Network.txt
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/Daphne Keller - Stanford Internet Observatory - Program .txt
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/David Kaye - UC Irvine Law; former UN Special Rapport.txt
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/Edoardo Celeste - Dublin City University.txt
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/Evelyn Douek - Stanford Law School.txt
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/Kate Klonick - St. John-s University School of Law.txt
  outreach/projects/outreach-stage-seed/templates/outreach_emails_wave0_top6.zip
  outreach/projects/outreach-stage-seed/templates/wave0_first_lines_v0.2.md
  tools/Test-BPOEAnswerFirst.ps1
  tools/gen-outreach-wave0.ps1
Labels: docs, ops

BPOE: answer-first laws + outreach wave0 artifacts (#399)
  .gitattributes
  .gitignore
  docs/advisory/BPOE/bpoe-checklist.md
  docs/advisory/BPOE/bpoe-laws.md
  docs/index/ADVICE-INDEX.md
  docs/index/README.md
  docs/index/TODO-INDEX.md
  docs/mission/Mission.md
  docs/plan/MasterPlan.md
  docs/status/BPOE.md
  docs/status/HEALTH.md
  docs/vision/Vision.md
  outreach/projects/outreach-stage-seed/CoCivium_outreach_leads_v0.2.csv
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/Bertrand de La Chapelle - Internet & Jurisdiction Policy Network.txt
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/Daphne Keller - Stanford Internet Observatory - Program .txt
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/David Kaye - UC Irvine Law; former UN Special Rapport.txt
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/Edoardo Celeste - Dublin City University.txt
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/Evelyn Douek - Stanford Law School.txt
  outreach/projects/outreach-stage-seed/templates/emails_wave0_top6/Kate Klonick - St. John-s University School of Law.txt
  outreach/projects/outreach-stage-seed/templates/outreach_emails_wave0_top6.zip
  outreach/projects/outreach-stage-seed/templates/wave0_first_lines_v0.2.md
  tools/Test-BPOEAnswerFirst.ps1
  tools/gen-outreach-wave0.ps1
Labels: docs, ops

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs
