Repository rickballard/CoCivium, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, brand, hero, ops

.github/labeler.yml:

# actions/labeler@v5 schema: each label maps to an ARRAY of rule objects.
# See: https://github.com/actions/labeler
docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md','docs/**','insights/**','stories/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

brand:
  - changed-files:
      - any-glob-to-any-file: ['brand/**','assets/brand/**']

hero:
  - changed-files:
      - any-glob-to-any-file: ['docs/onboarding/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['admin/**','tools/**']

LehaneOps: watcher run — refresh digest & logs
  docs/outreach/LehaneOps/reports/LehaneWatch.md
  docs/outreach/LehaneOps/reports/logs/20250911_175146.json
Labels: docs

LehaneOps: normalize Unicode dashes to ASCII; refresh digest/logs
  docs/outreach/LehaneOps/reports/LehaneWatch.md
  docs/outreach/LehaneOps/reports/logs/20250911_175357.json
Labels: docs

LehaneOps: normalize Unicode dashes to ASCII; refresh digest/logs
  docs/outreach/LehaneOps/reports/LehaneWatch.md
  docs/outreach/LehaneOps/reports/logs/20250911_175357.json
Labels: docs

LehaneOps: adopt BPOE callouts; add Apply-BPOE; retrofit docs
  docs/outreach/LehaneOps/README.md
  docs/outreach/LehaneOps/STYLE_BPOE.md
  docs/outreach/LehaneOps/plans/01_precursor.md
  docs/outreach/LehaneOps/plans/02_outreach.md
  docs/outreach/LehaneOps/tools/Apply-BPOE.ps1
Labels: docs

LehaneOps: adopt BPOE callouts; add Apply-BPOE; retrofit docs
  docs/outreach/LehaneOps/README.md
  docs/outreach/LehaneOps/STYLE_BPOE.md
  docs/outreach/LehaneOps/plans/01_precursor.md
  docs/outreach/LehaneOps/plans/02_outreach.md
  docs/outreach/LehaneOps/tools/Apply-BPOE.ps1
Labels: docs

LehaneOps: replace RoleGuard with parser-safe version
  docs/outreach/LehaneOps/watchers/Detect-TargetChange.ps1
Labels: docs

LehaneOps: replace RoleGuard with parser-safe version
  docs/outreach/LehaneOps/watchers/Detect-TargetChange.ps1
Labels: docs

LehaneOps: harden RoleGuard (safe prop access) + upgrade watch.config.json
  docs/outreach/LehaneOps/watchers/Detect-TargetChange.ps1
  docs/outreach/LehaneOps/watchers/watch.config.json
Labels: docs

LehaneOps: harden RoleGuard (safe prop access) + upgrade watch.config.json
  docs/outreach/LehaneOps/watchers/Detect-TargetChange.ps1
  docs/outreach/LehaneOps/watchers/watch.config.json
Labels: docs

LehaneOps: RoleGuard snapshot (state + role-guard report)
  docs/outreach/LehaneOps/reports/role-guard/role_check_20250911_182537.md
  docs/outreach/LehaneOps/reports/state/target.json
Labels: docs

LehaneOps: RoleGuard snapshot (state + role-guard report)
  docs/outreach/LehaneOps/reports/role-guard/role_check_20250911_182537.md
  docs/outreach/LehaneOps/reports/state/target.json
Labels: docs

LehaneOps: RoleGuard state-writer hardened; broadened role patterns
  @{enabled=True; interval_hours=6; targets=System.Object[]; sources=System.Object[]; output=; role_check_feeds=System.Object[]; role_patterns=System.Object[]; fallback_contacts=System.Object[]}
  docs/outreach/LehaneOps/watchers/Detect-TargetChange.ps1
Labels: docs

LehaneOps: RoleGuard state-writer hardened; broadened role patterns
  @{enabled=True; interval_hours=6; targets=System.Object[]; sources=System.Object[]; output=; role_check_feeds=System.Object[]; role_patterns=System.Object[]; fallback_contacts=System.Object[]}
  docs/outreach/LehaneOps/watchers/Detect-TargetChange.ps1
Labels: docs

Repo: enable BPOE pre-commit for all staged *.md (opt-out via 'BPOE: skip')
  .githooks/pre-commit.cmd
  .githooks/pre-commit.ps1
  tools/Apply-BPOERepo.ps1
Labels: ops

Repo: enable BPOE pre-commit for all staged *.md (opt-out via 'BPOE: skip')
  .githooks/pre-commit.cmd
  .githooks/pre-commit.ps1
  tools/Apply-BPOERepo.ps1
Labels: ops

LehaneOps: strip stray '\param' and purge accidental '@{...}' file
  docs/outreach/LehaneOps/watchers/Detect-TargetChange.ps1
Labels: docs

LehaneOps: strip stray '\param' and purge accidental '@{...}' file
  docs/outreach/LehaneOps/watchers/Detect-TargetChange.ps1
Labels: docs

LehaneOps: RoleGuard run — state & report refresh
  docs/outreach/LehaneOps/reports/role-guard/role_check_20250911_184117.md
Labels: docs

LehaneOps: RoleGuard run — state & report refresh
  docs/outreach/LehaneOps/reports/role-guard/role_check_20250911_184117.md
Labels: docs

chore(eol): normalize tracked files to policy
  .githooks/pre-commit.ps1
  @{enabled=True; interval_hours=6; targets=System.Object[]; sources=System.Object[]; output=; role_check_feeds=System.Object[]; role_patterns=System.Object[]; fallback_contacts=System.Object[]}
  docs/outreach/LehaneOps/STYLE_BPOE.md
  docs/outreach/LehaneOps/tools/Apply-BPOE.ps1
  docs/outreach/LehaneOps/watchers/Detect-TargetChange.ps1
  docs/outreach/LehaneOps/watchers/Replace-TargetTokens.ps1
  docs/outreach/LehaneOps/watchers/watch.config.json
  scripts/workbench/Start-CoCiviumWorkbench.ps1
  scripts/workbench/Workbench-Inner.ps1
  tools/Apply-BPOERepo.ps1
Labels: docs, ops

chore(eol): normalize tracked files to policy
  .githooks/pre-commit.ps1
  @{enabled=True; interval_hours=6; targets=System.Object[]; sources=System.Object[]; output=; role_check_feeds=System.Object[]; role_patterns=System.Object[]; fallback_contacts=System.Object[]}
  docs/outreach/LehaneOps/STYLE_BPOE.md
  docs/outreach/LehaneOps/tools/Apply-BPOE.ps1
  docs/outreach/LehaneOps/watchers/Detect-TargetChange.ps1
  docs/outreach/LehaneOps/watchers/Replace-TargetTokens.ps1
  docs/outreach/LehaneOps/watchers/watch.config.json
  scripts/workbench/Start-CoCiviumWorkbench.ps1
  scripts/workbench/Workbench-Inner.ps1
  tools/Apply-BPOERepo.ps1
Labels: docs, ops

docs(bpoe): update GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

Resolve conflicts: main baseline + restore LehaneOps kit
  .bp-conv.json
  .bp-reviews.json
Labels: none

Resolve conflicts: main baseline + restore LehaneOps kit
  .bp-conv.json
  .bp-reviews.json
Labels: none

Add Koso synergy outreach doc (rebased to main) [20250911-2231]
  outreach/partners/Koso-Synergy-Report.md
Labels: docs

BPOE: ignore & remove admin branch-protection backups
  .bp-conv.json
  .bp-reviews.json
  .gitignore
Labels: none

BPOE: ignore & remove admin branch-protection backups
  .bp-conv.json
  .bp-reviews.json
  .gitignore
Labels: none

BPOE: add .gitattributes validator
  tools/validate-gitattributes.ps1
Labels: ops

BPOE: add .gitattributes validator
  tools/validate-gitattributes.ps1
Labels: ops

docs(bpoe): normalize EOL + update GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): normalize EOL + update GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): normalize EOL + update GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

BPOE: add Guard workflow for .gitattributes
  .github/workflows/guard.yml
Labels: ci

BPOE: add Guard workflow for .gitattributes
  .github/workflows/guard.yml
Labels: ci

Add Koso synergy outreach doc (rebased to main) [20250911-2231] (#387)
  outreach/partners/Koso-Synergy-Report.md
Labels: docs

Add Koso synergy outreach doc (rebased to main) [20250911-2231] (#387)
  outreach/partners/Koso-Synergy-Report.md
Labels: docs

docs(bpoe): normalize EOL + update GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): normalize EOL + update GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): normalize EOL + update GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

BPOE: baseline .gitattributes (LF repo; CRLF for .bat/.cmd)
  .gitattributes
Labels: none
