Repository rickballard/CoCivium, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, brand, hero, ops

BPOE: capture admin no-bypass roadblock; add minimal CI gating; document Noname + CI lessons
  .codespell.words
  .codespell/ignore-words.txt
  tools/CoAgent/CoAgent.psm1
  tools/CoAgent/CoPong.FullSend.psm1
  tools/CoAgent/CoPong.OneWay.psm1
Labels: ops

BPOE: capture admin no-bypass roadblock; add minimal CI gating; document Noname + CI lessons
  .codespell.words
  .codespell/ignore-words.txt
  tools/CoAgent/CoAgent.psm1
  tools/CoAgent/CoPong.FullSend.psm1
  tools/CoAgent/CoPong.OneWay.psm1
Labels: ops

PR hygiene: remove tmp-CoCivium-verify and CoAgent scripts; ignore tmp-CoCivium-verify
  .gitignore
  tools/CoAgent/CoAgent.psm1
  tools/CoAgent/CoPong.FullSend.psm1
  tools/CoAgent/CoPong.OneWay.psm1
Labels: ops

PR hygiene: remove tmp-CoCivium-verify and CoAgent scripts; ignore tmp-CoCivium-verify
  .gitignore
  tools/CoAgent/CoAgent.psm1
  tools/CoAgent/CoPong.FullSend.psm1
  tools/CoAgent/CoPong.OneWay.psm1
Labels: ops

ci/docs: dedup codespell words; fix Noname link case; small CI nits
  .codespell.words
  docs/lexicon/codespell-ignore.txt
Labels: docs

ci/docs: dedup codespell words; fix Noname link case; small CI nits
  .codespell.words
  docs/lexicon/codespell-ignore.txt
Labels: docs

BPOE: document admin no-bypass roadblock + pre-launch policy
  docs/BPOE.md
Labels: docs

chore: enforce LF endings via .gitattributes
  .gitattributes
Labels: none

chore: enforce LF in .gitattributes (added: *.md text eol=lf, *.ps1 text eol=lf)
  .gitattributes
Labels: none

ci(guard): revert README edits to satisfy lock-readme/guard
  .secrets/README.md
  README.md
  actions/README.md
  admin/README.md
Labels: docs, ops

chore(ci): add DO_VerifyProtection.ps1 (verify minimal checks + admin bypass)
  scripts/DO_VerifyProtection.ps1
Labels: none

docs(bpoe): mitigation—auto-merge blocked by advisory failures; checks schema + recompute
  admin/bpoe/mitigations/2025-09-05_mergeability-cache-and-checks.md
Labels: docs, ops

ci(verify): accept required_status_checks.checks
  scripts/DO_VerifyProtection.ps1
Labels: none

chore: enforce LF via .gitattributes (text=auto + md/ps1)
  .gitattributes
Labels: none

chore(ci): unify codespell wordlist and point .codespellrc at it
  .codespellrc
  tools/lint/codespell.words.txt
Labels: ops

ci(verify): replace DO_VerifyProtection.ps1 with checks+contexts-safe version
  scripts/DO_VerifyProtection.ps1
Labels: none

docs(bpoe): add _index pages for BPOE and mitigations (no README touched)
  admin/bpoe/_index.md
  admin/bpoe/mitigations/_index.md
Labels: docs, ops

docs(bpoe): regenerate indexes with robust H1 parsing
  admin/bpoe/_index.md
  admin/bpoe/mitigations/_index.md
Labels: docs, ops

chore: enforce LF via .gitattributes (rev2); unify codespell wordlist
  .codespellrc
  .gitattributes
  tools/lint/codespell.words.txt
Labels: ops

chore: enforce LF via .gitattributes (rev2); unify codespell wordlist (#352)
  .codespellrc
  .gitattributes
  tools/lint/codespell.words.txt
Labels: ops

chore: enforce LF via .gitattributes (rev2); unify codespell wordlist (#352)
  .codespellrc
  .gitattributes
  tools/lint/codespell.words.txt
Labels: ops

chore: add DO_EnforceProtection.ps1 (idempotent branch-protection enforcer)
  scripts/DO_EnforceProtection.ps1
Labels: none

docs(bpoe): add mitigation (advisory green but BLOCKED) + regenerate indexes
  admin/bpoe/_index.md
  admin/bpoe/mitigations/2025-09-05_advisory-green-but-blocked_fix.md
  admin/bpoe/mitigations/_index.md
Labels: docs, ops

docs(outreach): add CoCivium mentions templates (Paste 1 & 2)
  outreach/CoCivium_Mentions_Paste1.md
  outreach/CoCivium_Mentions_Paste2.md
Labels: docs

docs: refresh ISSUEOPS to 1-command CoPong; deprecate legacy shortcuts; note heartbeat
  ISSUEOPS.md
Labels: docs

docs(style): filename/folder conventions; deprecate c-rating in filenames
  docs/STYLE.md
Labels: docs

chore(scripts): add CoPingHeartbeat + CoBloatWatch (session observability)
  scripts/CoBloatWatch.ps1
  scripts/CoPingHeartbeat.ps1
Labels: none

docs(insights): log implementations derived from IdeaCard ‘Oddnotes’
  insights/IdeaCard_Oddnotes_20250905.md
Labels: docs

docs(outreach): replace placeholders with polished Mentions copy
  outreach/CoCivium_Mentions_Paste1.md
  outreach/CoCivium_Mentions_Paste2.md
Labels: docs

chore: add DO_EnforceProtection.ps1 (idempotent branch-protection enforcer) (#353)
  scripts/DO_EnforceProtection.ps1
Labels: none

chore: add DO_EnforceProtection.ps1 (idempotent branch-protection enforcer) (#353)
  scripts/DO_EnforceProtection.ps1
Labels: none

docs(bpoe): add mitigation (advisory green but BLOCKED) + regenerate indexes (#354)
  admin/bpoe/_index.md
  admin/bpoe/mitigations/2025-09-05_advisory-green-but-blocked_fix.md
  admin/bpoe/mitigations/_index.md
Labels: docs, ops

docs(bpoe): add mitigation (advisory green but BLOCKED) + regenerate indexes (#354)
  admin/bpoe/_index.md
  admin/bpoe/mitigations/2025-09-05_advisory-green-but-blocked_fix.md
  admin/bpoe/mitigations/_index.md
Labels: docs, ops

docs(outreach): add CoCivium mentions templates (Paste 1 & 2) (#355)
  outreach/CoCivium_Mentions_Paste1.md
  outreach/CoCivium_Mentions_Paste2.md
Labels: docs

docs(outreach): add CoCivium mentions templates (Paste 1 & 2) (#355)
  outreach/CoCivium_Mentions_Paste1.md
  outreach/CoCivium_Mentions_Paste2.md
Labels: docs

docs: refresh ISSUEOPS to 1-command CoPong; deprecate legacy shortcuts; note heartbeat (#356)
  ISSUEOPS.md
Labels: docs

docs: refresh ISSUEOPS to 1-command CoPong; deprecate legacy shortcuts; note heartbeat (#356)
  ISSUEOPS.md
Labels: docs

docs(style): filename/folder conventions; deprecate c-rating in filenames (#357)
  docs/STYLE.md
Labels: docs

docs(style): filename/folder conventions; deprecate c-rating in filenames (#357)
  docs/STYLE.md
Labels: docs

chore(scripts): add CoPingHeartbeat + CoBloatWatch (session observability) (#358)
  scripts/CoBloatWatch.ps1
  scripts/CoPingHeartbeat.ps1
Labels: none

.github/labeler.yml:

# actions/labeler@v5 schema: each label maps to an ARRAY of rule objects.
# See: https://github.com/actions/labeler
docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md','docs/**','insights/**','stories/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

brand:
  - changed-files:
      - any-glob-to-any-file: ['brand/**','assets/brand/**']

hero:
  - changed-files:
      - any-glob-to-any-file: ['docs/onboarding/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['admin/**','tools/**']
