Repository rickballard/CoCivium, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, brand, hero, ops

.github/labeler.yml:

# actions/labeler@v5 schema: each label maps to an ARRAY of rule objects.
# See: https://github.com/actions/labeler
docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md','docs/**','insights/**','stories/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

brand:
  - changed-files:
      - any-glob-to-any-file: ['brand/**','assets/brand/**']

hero:
  - changed-files:
      - any-glob-to-any-file: ['docs/onboarding/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['admin/**','tools/**']

BPOE(runtime): heartbeat made dot-source-safe for StrictMode (no blank waits)
  docs/BPOE/LESSONS.md
Labels: docs

BPOE(runtime): replace heartbeat with dot-source-safe global version; document mandate
  docs/BPOE/LESSONS.md
  tools/heartbeat.ps1
Labels: docs, ops

BPOE(runtime): replace heartbeat with dot-source-safe global version; document mandate
  docs/BPOE/LESSONS.md
  tools/heartbeat.ps1
Labels: docs, ops

chore(outreach): restore LinkedIn reconnect project + contact scripts from
  docs/outreach/projects/linkedin-reconnect/README.md
  scripts/outreach/contacts/CoContacts.MatchLinkedIn.ps1
  scripts/outreach/contacts/CoContacts.Normalize.ps1
Labels: docs

chore(outreach): restore LinkedIn reconnect project + contact scripts from
  docs/outreach/projects/linkedin-reconnect/README.md
  scripts/outreach/contacts/CoContacts.MatchLinkedIn.ps1
  scripts/outreach/contacts/CoContacts.Normalize.ps1
Labels: docs

docs+scripts(outreach): seed LinkedIn reconnect project (PS5/7-safe) [2025-09-12]
  docs/outreach/projects/linkedin-reconnect/.gitignore
  docs/outreach/projects/linkedin-reconnect/README.md
  docs/outreach/projects/linkedin-reconnect/data-schemas/contacts_master.schema.md
  docs/outreach/projects/linkedin-reconnect/workflows/input/.gitkeep
  scripts/outreach/contacts/CoContacts.MatchLinkedIn.ps1
  scripts/outreach/contacts/CoContacts.Normalize.ps1
Labels: docs

docs+scripts(outreach): seed LinkedIn reconnect project (PS5/7-safe) [2025-09-12]
  docs/outreach/projects/linkedin-reconnect/.gitignore
  docs/outreach/projects/linkedin-reconnect/README.md
  docs/outreach/projects/linkedin-reconnect/data-schemas/contacts_master.schema.md
  docs/outreach/projects/linkedin-reconnect/workflows/input/.gitkeep
  scripts/outreach/contacts/CoContacts.MatchLinkedIn.ps1
  scripts/outreach/contacts/CoContacts.Normalize.ps1
Labels: docs

BPOE: install auto-breadcrumb workflow + PR template
  .github/workflows/bpoe-auto-crumb.yml
  docs/status/BPOE.md
Labels: docs, ci

BPOE: install auto-breadcrumb workflow + PR template (#389)
  .github/workflows/bpoe-auto-crumb.yml
  docs/status/BPOE.md
Labels: docs, ci

BPOE: install auto-breadcrumb workflow + PR template (#389)
  .github/workflows/bpoe-auto-crumb.yml
  docs/status/BPOE.md
Labels: docs, ci

SMOKE: trigger auto BPOE
  docs/SMOKE-AUTO-BPOE.md
Labels: docs

SMOKE: trigger auto BPOE (#391)
  docs/SMOKE-AUTO-BPOE.md
Labels: docs

SMOKE: trigger auto BPOE (#391)
  docs/SMOKE-AUTO-BPOE.md
Labels: docs

BPOE(CI): guard tools/docs BPOE conventions
  .github/workflows/bpoe-guard.yml
Labels: ci

BPOE(CI): guard tools/docs BPOE conventions
  .github/workflows/bpoe-guard.yml
Labels: ci

BPOE: add validator script
  tools/validate-bpoe.ps1
Labels: ops

BPOE: add validator script
  tools/validate-bpoe.ps1
Labels: ops

BPOE: backfill breadcrumb for PR #391
  docs/status/breadcrumbs/2025-09-12_pr-391-smoke-auto-bpoe-check.md
Labels: docs

BPOE: backfill breadcrumb for PR #391 (#392)
  docs/status/breadcrumbs/2025-09-12_pr-391-smoke-auto-bpoe-check.md
Labels: docs

BPOE: backfill breadcrumb for PR #391 (#392)
  docs/status/breadcrumbs/2025-09-12_pr-391-smoke-auto-bpoe-check.md
Labels: docs

outreach: seed leads list + playbook + tracker (v0.1)
  outreach/projects/outreach-stage-seed/CoCivium_outreach_leads_seed.csv
  outreach/projects/outreach-stage-seed/README.md
  outreach/tracker.csv
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): remove legacy docs/BPOE.md (using docs/status/BPOE.md)
  docs/BPOE.md
Labels: docs

docs(bpoe): remove legacy docs/BPOE.md (using docs/status/BPOE.md)
  docs/BPOE.md
Labels: docs

docs(bpoe): remove legacy docs/BPOE.md (using docs/status/BPOE.md)
  docs/BPOE.md
Labels: docs

chore(outreach): ignore LehaneOps logs and revert transient changes
  .gitignore
Labels: none

chore(gitattributes): enforce LF for docs/status/*.md
  .gitattributes
Labels: none

chore(gitattributes): enforce LF for docs/status/*.md
  .gitattributes
Labels: none

chore(gitattributes): enforce LF for docs/status/*.md
  .gitattributes
Labels: none

chore(gitattributes): enforce LF for docs/status/*.md
  .gitattributes
Labels: none

Docs: Grand Migration Advice — NewReadMe proposal drop (v3.2)
  grand-migration-advice/NewReadMe/BPOE_CoTemp_Proposal.md
  grand-migration-advice/NewReadMe/MIGRATION_NOTES.md
  grand-migration-advice/NewReadMe/PROPOSAL_NOTICE.md
  grand-migration-advice/NewReadMe/README.md
  grand-migration-advice/NewReadMe/academy/genesis.md
  grand-migration-advice/NewReadMe/diagrams/process_flow.mmd
  grand-migration-advice/NewReadMe/diagrams/stage_map.mmd
  grand-migration-advice/NewReadMe/docs/rfcs/0000-template.md
  grand-migration-advice/NewReadMe/onramps/badges.md
  grand-migration-advice/NewReadMe/onramps/civic_architect.md
  grand-migration-advice/NewReadMe/onramps/contributor.md
  grand-migration-advice/NewReadMe/onramps/explorer.md
  grand-migration-advice/NewReadMe/onramps/researcher.md
  grand-migration-advice/NewReadMe/outputs/artefacts.md
  grand-migration-advice/NewReadMe/outputs/index.md
  grand-migration-advice/NewReadMe/outputs/out_of_scope.md
  grand-migration-advice/NewReadMe/outputs/policies.md
  grand-migration-advice/NewReadMe/outputs/records.md
  grand-migration-advice/NewReadMe/outputs/standards.md
  grand-migration-advice/NewReadMe/outputs/taxonomy.md
  grand-migration-advice/NewReadMe/scripts/DO-BranchProtection-Relax.ps1
  grand-migration-advice/NewReadMe/scripts/DO-BranchProtection-RestoreDefaults.ps1
  grand-migration-advice/NewReadMe/scripts/DO-EndToEnd-ProposeAndFinalize.ps1
  grand-migration-advice/NewReadMe/scripts/DO-NewReadMe-Propose.ps1
  grand-migration-advice/NewReadMe/scripts/DO-Prestage-Unpack.ps1
Labels: docs

Docs: Grand Migration Advice — NewReadMe proposal drop (v3.2)
  grand-migration-advice/NewReadMe/BPOE_CoTemp_Proposal.md
  grand-migration-advice/NewReadMe/MIGRATION_NOTES.md
  grand-migration-advice/NewReadMe/PROPOSAL_NOTICE.md
  grand-migration-advice/NewReadMe/README.md
  grand-migration-advice/NewReadMe/academy/genesis.md
  grand-migration-advice/NewReadMe/diagrams/process_flow.mmd
  grand-migration-advice/NewReadMe/diagrams/stage_map.mmd
  grand-migration-advice/NewReadMe/docs/rfcs/0000-template.md
  grand-migration-advice/NewReadMe/onramps/badges.md
  grand-migration-advice/NewReadMe/onramps/civic_architect.md
  grand-migration-advice/NewReadMe/onramps/contributor.md
  grand-migration-advice/NewReadMe/onramps/explorer.md
  grand-migration-advice/NewReadMe/onramps/researcher.md
  grand-migration-advice/NewReadMe/outputs/artefacts.md
  grand-migration-advice/NewReadMe/outputs/index.md
  grand-migration-advice/NewReadMe/outputs/out_of_scope.md
  grand-migration-advice/NewReadMe/outputs/policies.md
  grand-migration-advice/NewReadMe/outputs/records.md
  grand-migration-advice/NewReadMe/outputs/standards.md
  grand-migration-advice/NewReadMe/outputs/taxonomy.md
  grand-migration-advice/NewReadMe/scripts/DO-BranchProtection-Relax.ps1
  grand-migration-advice/NewReadMe/scripts/DO-BranchProtection-RestoreDefaults.ps1
  grand-migration-advice/NewReadMe/scripts/DO-EndToEnd-ProposeAndFinalize.ps1
  grand-migration-advice/NewReadMe/scripts/DO-NewReadMe-Propose.ps1
  grand-migration-advice/NewReadMe/scripts/DO-Prestage-Unpack.ps1
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

Docs: Grand Migration Advice — NewReadMe proposal drop (v3.2) (#394)
  docs/status/BPOE.md
  grand-migration-advice/NewReadMe/BPOE_CoTemp_Proposal.md
  grand-migration-advice/NewReadMe/MIGRATION_NOTES.md
  grand-migration-advice/NewReadMe/PROPOSAL_NOTICE.md
  grand-migration-advice/NewReadMe/README.md
  grand-migration-advice/NewReadMe/academy/genesis.md
  grand-migration-advice/NewReadMe/diagrams/process_flow.mmd
  grand-migration-advice/NewReadMe/diagrams/stage_map.mmd
  grand-migration-advice/NewReadMe/docs/rfcs/0000-template.md
  grand-migration-advice/NewReadMe/onramps/badges.md
  grand-migration-advice/NewReadMe/onramps/civic_architect.md
  grand-migration-advice/NewReadMe/onramps/contributor.md
  grand-migration-advice/NewReadMe/onramps/explorer.md
  grand-migration-advice/NewReadMe/onramps/researcher.md
  grand-migration-advice/NewReadMe/outputs/artefacts.md
  grand-migration-advice/NewReadMe/outputs/index.md
  grand-migration-advice/NewReadMe/outputs/out_of_scope.md
  grand-migration-advice/NewReadMe/outputs/policies.md
  grand-migration-advice/NewReadMe/outputs/records.md
  grand-migration-advice/NewReadMe/outputs/standards.md
  grand-migration-advice/NewReadMe/outputs/taxonomy.md
  grand-migration-advice/NewReadMe/scripts/DO-BranchProtection-Relax.ps1
  grand-migration-advice/NewReadMe/scripts/DO-BranchProtection-RestoreDefaults.ps1
  grand-migration-advice/NewReadMe/scripts/DO-EndToEnd-ProposeAndFinalize.ps1
  grand-migration-advice/NewReadMe/scripts/DO-NewReadMe-Propose.ps1
  grand-migration-advice/NewReadMe/scripts/DO-Prestage-Unpack.ps1
Labels: docs

Docs: Grand Migration Advice — NewReadMe proposal drop (v3.2) (#394)
  docs/status/BPOE.md
  grand-migration-advice/NewReadMe/BPOE_CoTemp_Proposal.md
  grand-migration-advice/NewReadMe/MIGRATION_NOTES.md
  grand-migration-advice/NewReadMe/PROPOSAL_NOTICE.md
  grand-migration-advice/NewReadMe/README.md
  grand-migration-advice/NewReadMe/academy/genesis.md
  grand-migration-advice/NewReadMe/diagrams/process_flow.mmd
  grand-migration-advice/NewReadMe/diagrams/stage_map.mmd
  grand-migration-advice/NewReadMe/docs/rfcs/0000-template.md
  grand-migration-advice/NewReadMe/onramps/badges.md
  grand-migration-advice/NewReadMe/onramps/civic_architect.md
  grand-migration-advice/NewReadMe/onramps/contributor.md
  grand-migration-advice/NewReadMe/onramps/explorer.md
  grand-migration-advice/NewReadMe/onramps/researcher.md
  grand-migration-advice/NewReadMe/outputs/artefacts.md
  grand-migration-advice/NewReadMe/outputs/index.md
  grand-migration-advice/NewReadMe/outputs/out_of_scope.md
  grand-migration-advice/NewReadMe/outputs/policies.md
  grand-migration-advice/NewReadMe/outputs/records.md
  grand-migration-advice/NewReadMe/outputs/standards.md
  grand-migration-advice/NewReadMe/outputs/taxonomy.md
  grand-migration-advice/NewReadMe/scripts/DO-BranchProtection-Relax.ps1
  grand-migration-advice/NewReadMe/scripts/DO-BranchProtection-RestoreDefaults.ps1
  grand-migration-advice/NewReadMe/scripts/DO-EndToEnd-ProposeAndFinalize.ps1
  grand-migration-advice/NewReadMe/scripts/DO-NewReadMe-Propose.ps1
  grand-migration-advice/NewReadMe/scripts/DO-Prestage-Unpack.ps1
Labels: docs

CI: auto-label grand-migration-advice/** + CODEOWNERS route
  .github/CODEOWNERS
  .github/workflows/label-grand-migration.yml
Labels: ci
