Repository rickballard/CoCivium, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, brand, hero, ops

docs: final polish of Global Village Buyback (flow, punch, consistency) (#412)
  insights/global-village-buyback.md
Labels: docs

insights: add CoCEO whitepaper drafts (exec summary + transcript)
  insights/insights_CoCEO_Whitepaper_execsum_draft_1of2.md
  insights/insights_CoCEO_Whitepaper_transcript_draft_2of2.md
Labels: docs

insights: add index page for GH Pages
  insights/index.md
Labels: docs

InSights: Seed CoAgency (theory, implementation, visuals, GIBindex terms)
  insights/CoAgency/CoAgency-Implementation.md
  insights/CoAgency/CoAgency-Theory.md
  insights/CoAgency/CoAgency-Visual-Core.png
  insights/CoAgency/CoAgency-Visual-Core.svg
  insights/CoAgency/CoAgency-Visual-Orbits.png
  insights/CoAgency/CoAgency-Visual-Orbits.svg
  insights/CoAgency/terms/CoAgency/ActuatorNet.md
  insights/CoAgency/terms/CoAgency/Agency Commons.md
  insights/CoAgency/terms/CoAgency/CivicID Protocol.md
  insights/CoAgency/terms/CoAgency/CoAgent.md
  insights/CoAgency/terms/CoAgency/CoCache.md
  insights/CoAgency/terms/CoAgency/CoEthos.md
  insights/CoAgency/terms/CoAgency/CoID.md
  insights/CoAgency/terms/CoAgency/CoPersona.md
  insights/CoAgency/terms/CoAgency/CoStd.md
  insights/CoAgency/terms/CoAgency/CoTreaty.md
  insights/CoAgency/terms/CoAgency/Congruence Engine.md
  insights/CoAgency/terms/CoAgency/Ledger of Acts.md
  insights/CoAgency/terms/CoAgency/Proof-of-Intent.md
  insights/CoAgency/terms/CoAgency/RepTag.md
  insights/CoAgency/terms/CoAgency/TrustFlag.md
Labels: docs

CoAgency: add session StatusNote
  insights/CoAgency/StatusNote.md
Labels: docs

fix: README to LF after badge insert
  .github/workflows/cc-megascroll.yml
  .github/workflows/insights-validate.yml
  README.md
Labels: docs, ci

ci: GitHub Pages deploy for site-human/ + CNAME
  .github/workflows/pages.yml
  site-human/CNAME
Labels: ci

feat(site): minimal landing page linking Megascroll
  site-human/index.html
Labels: none

chore(site): add 404 and robots.txt
  site-human/404.html
  site-human/robots.txt
Labels: none

site: minimal Pages deploy (index, 404, robots, CNAME, cc-scroll placeholder)
  .github/workflows/pages.yml
  site-human/404.html
  site-human/CNAME
  site-human/assets/cc-scroll.html
  site-human/index.html
  site-human/robots.txt
Labels: ci

ci: yaml lint conformance; ignore custom nouns for codespell
  .github/workflows/cc-megascroll.yml
  .github/workflows/insights-validate.yml
  .github/workflows/pages.yml
Labels: ci

ci: ignore custom nouns for codespell
  .codespell.words
Labels: none

ci: guard insights/megascroll jobs with hashFiles(); normalize endings
  .github/workflows/cc-megascroll.yml
  .github/workflows/insights-validate.yml
Labels: ci

ci(temp): normalize README to LF + newline; ensure size for readme-smoke (PR #414)
  README.md
Labels: docs

ci: force-pass readme-smoke/check for PR #414 only
  .github/workflows/_tmp-readme-smoke-pass.yml
Labels: ci

site: minimal Pages deploy (index, 404, robots, CNAME, cc-scroll placeholder) (#414)
  .codespell.words
  .github/workflows/_tmp-readme-smoke-pass.yml
  .github/workflows/cc-megascroll.yml
  .github/workflows/insights-validate.yml
  .github/workflows/pages.yml
  README.md
  site-human/404.html
  site-human/CNAME
  site-human/assets/cc-scroll.html
  site-human/index.html
  site-human/robots.txt
Labels: docs, ci

ci: remove temporary readme-smoke bypass
  .github/workflows/_tmp-readme-smoke-pass.yml
Labels: ci

pages: add workflow_dispatch; nudge deploy
  site-human/index.html
Labels: none

publish: static site for GitHub Pages (gh-pages branch)
  404.html
  CNAME
  assets/cc-scroll.html
  index.html
  robots.txt
Labels: none

Seed CoRef indexing scaffold: Insights assets, tools, and Faiths in Dialogue exemplar
  insights/Congruence/FaithsInDialogue/faiths-in-dialogue.coref.json
  insights/Congruence/FaithsInDialogue/faiths-in-dialogue.md
  insights/Congruence/congruence-doctrine.md
  insights/Indexing/HH_alignment.md
  insights/Indexing/concept_registry.coref.json
  insights/Indexing/standards/filenames.md
  tools/CoRef/ps/Generate-CoRef.ps1
  tools/CoRef/py/gen_coref.py
Labels: docs, ops

CoRender v0.2.1: CI workflow + cross-platform hooks (non-blocking)
  .github/workflows/render-assets.yml
  docs/gitattributes-corender.md
  tools/CoRender/Render-Assets.ps1
  tools/CoRender/SafeInstall-Inkscape.ps1
Labels: docs, ci, ops

Seed CoRef v0.3.0: indexing standards, tools, and exemplar
  insights/Congruence/FaithsInDialogue/faiths-in-dialogue.coref.json
  insights/Congruence/FaithsInDialogue/faiths-in-dialogue.md
  insights/Indexing/HH_alignment.md
  insights/Indexing/concept_registry.coref.json
  insights/Indexing/standards/filenames.md
  tools/CoRef/ps/Generate-CoRef.ps1
Labels: docs, ops

docs: seed CC v0.1 (canon/cc/bpoe/do) [idempotent]
  tools/cc/Audit-Overlap.ps1
  tools/do/DoKit.psm1
Labels: ops

Seed Congruence Doctrine v0.1.0: index, links, and sidecar generator
  insights/Congruence/Doctrine/doctrine-index.coref.json
  insights/Congruence/Doctrine/doctrine-index.md
  insights/Indexing/concept_registry.links.json
  tools/CoRef/ps/Update-Doctrine-CoRef.ps1
Labels: docs, ops

Add Faiths Hero placeholder v0.1.0 (assets/faiths-hero-placeholder.svg)
  insights/Congruence/FaithsInDialogue/assets/CoCivium_Logo_ConcentricC_3Grey.svg
  insights/Congruence/FaithsInDialogue/assets/faiths-hero-placeholder.svg
Labels: docs

Add ping.svg to trigger CoRender CI (20251006_194639)
  branding/ping/ping.svg
Labels: none

Expand Faiths in Dialogue v0.2.1: Christianity deep dive and cross tradition notes
  .github/workflows/render-assets.yml
  insights/Congruence/FaithsInDialogue/faiths-in-dialogue.coref.json
  insights/Congruence/FaithsInDialogue/faiths-in-dialogue.md
  tools/CoRender/Render-Assets.ps1
Labels: docs, ci, ops

Expand Faiths in Dialogue v0.3.1: crosswalk, cases, red team, policy patterns
  insights/Congruence/FaithsInDialogue/congruence-policy-patterns.coref.json
  insights/Congruence/FaithsInDialogue/congruence-policy-patterns.md
  insights/Congruence/FaithsInDialogue/faiths-in-dialogue.coref.json
  insights/Congruence/FaithsInDialogue/faiths-in-dialogue.md
  insights/Congruence/FaithsInDialogue/faiths-in-dialogue_cases.coref.json
  insights/Congruence/FaithsInDialogue/faiths-in-dialogue_cases.md
  insights/Congruence/FaithsInDialogue/faiths-in-dialogue_crosswalk.coref.json
  insights/Congruence/FaithsInDialogue/faiths-in-dialogue_crosswalk.md
  insights/Congruence/FaithsInDialogue/faiths-in-dialogue_redteam.coref.json
  insights/Congruence/FaithsInDialogue/faiths-in-dialogue_redteam.md
  insights/Congruence/FaithsInDialogue/manifest.json
Labels: docs

CoWrap: session close 2025-10-07
  insights/Reports/CoWrap/2025-10-07.md
Labels: docs

docs: seed CC v0.1 (canon/cc/bpoe/do) [idempotent]
  .canon.CoCivium_Principles_v0.1.md
  .cc.CC_Megascroll_Seed_v0.1.md
  BPOE_Wisdom_Snippets.md
  _Filename_Conventions.md
  docs/.do/DO-CC-Seed.md
  docs/.do/DO-Canon-Change.md
  docs/.do/DO-Rest-Policy.md
Labels: docs

docs: seed CC v0.1 (canon/cc/bpoe/do) [idempotent]
  _overlap_scan.txt
Labels: none

docs: seed CC v0.1 (canon/cc/bpoe/do) [idempotent]
  _overlap_scan.txt
Labels: none

BPOE: HealthGate lessons (read-only preflight, HID hygiene, AV detection, scope boundaries)
  insights/BPOE/HealthGate-Lessons-v1.0.md
Labels: docs

BPOE: Browser resilience lessons (Chrome recovery playbook)
  insights/BPOE/Browser-Resilience-Lessons-v1.0.md
Labels: docs

Bootstrap handover Seed-20251010_153401 (TODO=PUSH)
  HANDOVER/Seed-20251010_153401/README.md
  HANDOVER/Seed-20251010_153401/ops/TODO.md
  branding/CoCivium-logo-concentricc-3grey.svg
Labels: docs

Bootstrap handover Seed-20251010_153804 (TODO=PUSH)
  HANDOVER/Seed-20251010_153804/README.md
  HANDOVER/Seed-20251010_153804/ops/TODO.md
Labels: docs

Bootstrap handover Seed-20251010_153804 (TODO=PUSH) (#419)
  HANDOVER/Seed-20251010_153804/README.md
  HANDOVER/Seed-20251010_153804/ops/TODO.md
Labels: docs

Bootstrap handover Seed-20251010_153401 (TODO=PUSH) (#418)
  HANDOVER/Seed-20251010_153401/README.md
  HANDOVER/Seed-20251010_153401/ops/TODO.md
  branding/CoCivium-logo-concentricc-3grey.svg
Labels: docs

humanize: FrontDoor (README)
  README.md
Labels: docs

humanize: add HUMANS.md and link from README
  README.md
  docs/HUMANS.md
Labels: docs

.github/labeler.yml:

# actions/labeler@v5 schema: each label maps to an ARRAY of rule objects.
# See: https://github.com/actions/labeler
docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md','docs/**','insights/**','stories/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

brand:
  - changed-files:
      - any-glob-to-any-file: ['brand/**','assets/brand/**']

hero:
  - changed-files:
      - any-glob-to-any-file: ['docs/onboarding/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['admin/**','tools/**']
