Repository rickballard/CoCivium, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, brand, hero, ops

.github/labeler.yml:

# actions/labeler@v5 schema: each label maps to an ARRAY of rule objects.
# See: https://github.com/actions/labeler
docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md','docs/**','insights/**','stories/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

brand:
  - changed-files:
      - any-glob-to-any-file: ['brand/**','assets/brand/**']

hero:
  - changed-files:
      - any-glob-to-any-file: ['docs/onboarding/**']

ops:
  - changed-files:
      - any-glob-to-any-file: ['admin/**','tools/**']

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

site(beacon): mirror AI BEACON & add .well-known pointer
  docs/.well-known/cocivium.json
  docs/_headers
  docs/ai/BEACON.json
Labels: docs

site(beacon): mirror AI BEACON & add .well-known pointer
  docs/.well-known/cocivium.json
  docs/_headers
  docs/ai/BEACON.json
Labels: docs

governance: add CODEOWNERS for temporary stewards
  .github/CODEOWNERS
Labels: ci

governance: add CODEOWNERS for temporary stewards
  .github/CODEOWNERS
Labels: ci

Update public-profile.md
  docs/public-profile.md
Labels: docs

Update public-profile.md
  docs/public-profile.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

docs(bpoe): refresh GM PR bloat ticker
  docs/status/BPOE.md
Labels: docs

Update public-profile.md
  docs/public-profile.md
Labels: docs

Update public-profile.md
  docs/public-profile.md
Labels: docs

chore: apply ZT bootstrap patches [auto]
  .github/pull_request_template.md
  .github/workflows/assemble-cognocarta.yml
  docs/cc/parts/00_Preamble.md
  docs/outreach/LehaneOps/reports/LehaneWatch.md
  docs/readme/README.legacy.md
  docs/readme/README.next.md
  docs/site/.nojekyll
  docs/site/CNAME
  docs/status/HEALTH.md
Labels: docs, ci

chore: apply ZT indexer patches [auto]
  .github/workflows/indexes.yml
  docs/hubs/AI-INDEX.json
  docs/hubs/HUMAN-INDEX.md
Labels: docs, ci

ci(bpoe): thin shims calling CoCache reusable workflows
  .github/workflows/safety-gate.yml
  .github/workflows/self-evolve.yml
  .github/workflows/smoke.yml
Labels: ci

Update public-profile.md
  docs/public-profile.md
Labels: docs

ci(bpoe): thin shims calling CoCache reusable workflows
  .github/workflows/safety-gate.yml
  .github/workflows/self-evolve.yml
  .github/workflows/smoke.yml
Labels: ci

polish: theme (dark+light), meta, sitemap/robots/404, contact page + widget, manifest/icons
  .githooks/pre-push
  .githooks/pre-push.ps1
  .well-known/contact-endpoint.json
  404.html
  assets/css/base.css
  assets/hero.png
  assets/icons/favicon-192.png
  assets/icons/favicon-48.png
  assets/icons/favicon-512.png
  assets/js/contact-embed.js
  contact.html
  docs/index/TODO-INDEX.md
  index.html
  robots.txt
  site.webmanifest
  sitemap.xml
Labels: docs

docs: deprecation notice
  README.md
Labels: docs

docs: deprecation notice (#402)
  README.md
Labels: docs

chore: set CODEOWNERS (@rickballard)
  .github/CODEOWNERS
Labels: ci

chore: PR template (RickGuard checklist)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: docs, ci

chore: issue template (launch)
  .github/ISSUE_TEMPLATE/launch.md
Labels: docs, ci

docs(insights): add Global Village Buyback draft with media placeholders
  insights/audio/README_LICENSE.md
  insights/global-village-buyback.md
  insights/images/hero_global_village_buyback.jpg
Labels: docs

docs: soundtrack link → Apple Music (Come Together, 2009 remaster)
  insights/global-village-buyback.md
Labels: docs

Add insight: Global Village Buyback (#403)
  insights/audio/README_LICENSE.md
  insights/global-village-buyback.md
  insights/images/hero_global_village_buyback.jpg
Labels: docs

chore: initial scaffold for CoPolitic.org (CAP)
  docs/outreach/LehaneOps/reports/LehaneWatch.md
  insights/assets/css/soundtrack.css
  insights/assets/js/soundtrack.js
Labels: docs

ci: monthly link integrity check
  .github/workflows/link-check.yml
Labels: ci

media: add hero image for Global Village Buyback (OldeVillagePeople.png) and embed in article
  insights/global-village-buyback.md
  insights/images/hero_global_village_buyback.png
Labels: docs

media: add hero image for Global Village Buyback (OldeVillagePeople.png) and embed in article (#406)
  insights/global-village-buyback.md
  insights/images/hero_global_village_buyback.png
Labels: docs

docs: soundtrack link → Apple Music (Come Together, 2009 remaster)
  insights/global-village-buyback.md
Labels: docs

docs: soundtrack link → Apple Music (Come Together, 2009 remaster) (#407)
  insights/global-village-buyback.md
Labels: docs

site: add CC0 background soundtrack + helper (hidden playback after user interaction)
  insights/assets/css/soundtrack.css
  insights/assets/js/soundtrack.js
  insights/audio/README_LICENSE.md
Labels: docs

site: add CC0 background soundtrack + helper (hidden playback after user interaction) (#408)
  insights/assets/css/soundtrack.css
  insights/assets/js/soundtrack.js
  insights/audio/README_LICENSE.md
Labels: docs

media: add Buyback vs. CoCivium table image
  insights/images/gvb_table.png
Labels: docs

docs: polish Global Village Buyback copy (flow + punch) and embed table image
  insights/global-village-buyback.md
Labels: docs

docs: polish Global Village Buyback (#410)
  insights/global-village-buyback.md
  insights/images/gvb_table.png
Labels: docs

docs: final polish of Global Village Buyback (flow, punch, consistency)
  insights/global-village-buyback.md
Labels: docs
